[2019-04-24 15:24] Robinlovelace commented on #376
Test for reproducibility from @rcatlord on my laptop gets a :heavy_check_mark:

[code]

![](https://i.imgur.com/uRRbIba.png)

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-24 15:49] Robinlovelace commented on #376
@mrsensible I could reproduce most of your map but had some issues on the `robinlovelace/geocompr` docker image:

[code]

[2019-04-24 15:54] Robinlovelace commented on #376
@agila5 I could fully reproduce your map after downloading MB of data ; ) great work, as illustrated below:

![image](https://user-images.githubusercontent.com/1825120/56674278-a7161e80-66b1-11e9-8178-810df134a0be.png)

[2019-04-24 15:56] mrsensible commented on #376
Are you using Linux or MacOSX? If so, you might have problems installing the `gstat` package. Although the package asks you to install version 2.0, you have to say no and install the older version if you are not running Windows. Can I kindly ask you to have another try?

[2019-04-24 15:57] mrsensible opened #378 "@mrsensible I could reproduce most of your map but had some issues on the `robinlovelace/geocompr` docker image:"
Are you using Linux or MacOSX? If so, you might have problems installing the gstat package. Although the package asks you to install version 2.0, you have to say no and install the older version if you are not running Windows. Can I kindly ask you to have another try?

---

@mrsensible I could reproduce most of your map but had some issues on the `robinlovelace/geocompr` docker image:

[2019-04-24 15:58] #378 closed

[2019-04-24 15:58] mrsensible commented on #376
Are you using Linux or MacOSX? If so, you might have problems installing the gstat package. Although the package asks you to install version 2.0, you have to say no and install the older version if you are not running Windows. Can I kindly ask you to have another try?

[2019-04-24 16:00] Robinlovelace commented on #376
@kchastko after installing the new `biscales` package I could reproduce it as follows:

[code]

![](https://i.imgur.com/4V3FhF9.png)

[code]

![](https://i.imgur.com/S1e4xWg.png)

[code]

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-24 16:10] Robinlovelace commented on #376
Impressed at all these entries, thanks again for creative and certainly useful maps.

Unfortunately there can only be 2 winners, however, and these go @mrsensible (who received a copy of the book locally) and @agila5.

Reasoning below, in reverse order:

- @kchastko your map is beautiful, reproducible and highly relevant politically. Unfortunately it was submitted just after the deadline of 10:30

[2019-04-24 16:10] #376 closed

[2019-04-24 16:17] #377 closed

[2019-04-24 16:18] Robinlovelace commented on #377
Thanks for reporting the issue @liygzting. That code was left as a legacy from tests with the package and should not have been in there. Deleted now.

[2019-04-24 16:21] Robinlovelace commented on #376
Update: @mrsensible you are right, it eventually ran on my computer and generated this result:

![image](https://user-images.githubusercontent.com/1825120/56676089-733cf800-66b5-11e9-816b-404ea382980b.png)

[2019-04-24 16:22] Robinlovelace commented on #376
Output below...

options(scipen = 100) # To see long decimal points

[1] Inf
Warning message:
'memory.size()' is Windows-specific

[1] Inf
Warning message:
'memory.limit()' is Windows-specific

── Attaching packages ────────────────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.

[2019-04-24 16:31] Robinlovelace commented on #376
@agila5 please let me know address so I can arrange for a copy of the book to be sent. You can email me on r. lovelace at leeds. ac. uk (with the @ and without the spaces)

[2019-04-24 19:26] agila5 commented on #376
Hi @Robinlovelace, thank you very much for your considerations about my submission and for the book. Tomorrow I will send you an email with my address.

[2019-04-24 19:45] paulopulgarin commented on #376
Dear Robin,

I am big fan of your work and I am currently using your github and bookdown
material for teaching GIS in R. I would love to have a physical copy of
your book with your signature. It is possible that you have an spare copy
to send?

Best,

--

Paulo C. Pulgarín-R

MSc & Ph.D in Ecology and Evolution of Birds

Universidad CES

Amazona Tropical Birding

Medellín-Bogotá-Colombia

Love bir

[2019-05-02 07:21] agila5 commented on #376
Hi @Robinlovelace, I'm sorry to disturb you but I just wanted to ask if you received my email.

[2019-05-02 15:38] Robinlovelace commented on #376
Hi @agila5 Yes, I've got 5 books to send out, first thing Monday is the plan!

[2019-05-26 00:46] Robinlovelace opened #382 "Unexpect travis fail"
Not sure what is causing [this](https://travis-ci.org/Robinlovelace/geocompr/builds/537310088#L3993):

[code]

[2019-05-26 01:16] Robinlovelace commented on #382
Update: I also get this on my laptop after removing the cache and rebuilding:

[code]

[2019-05-26 10:17] Nowosad commented on #382
I will take a look at it now..

[2019-05-26 10:37] Nowosad commented on #382
Getting closer... I think the problem is due to some update to https://cran.r-project.org/web/packages/geosphere/index.html.

[2019-05-26 10:47] Nowosad commented on #382
[code]

<sup>Created on 2019-05-26 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[code]

<sup>Created on 2019-05-26 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-05-26 11:38] Nowosad commented on #382
https://github.com/Robinlovelace/geocompr/commit/c60ea3fff5e3ed00a0bd8591480447a3526b7589
https://github.com/Robinlovelace/geocompr/commit/42c767faa3b726625fc54901e471b82140da228e
https://travis-ci.org/Robinlovelace/geocompr/builds/537413252

[2019-05-26 11:38] #382 closed

[2019-05-27 10:54] #374 closed

[2019-05-27 13:12] Robinlovelace opened #386 "Errors in latest docker image"
I've just updated the docker image so the build are fixed :tada:

Unfortunately the book does not build out of the box, with these errors

- [ ] **bindrcpp** is not installed, creating an error message (easy to fix, but strange error seeing as we do not use the package)
- [ ] **spDataLarge** related error message (see below)

[code]

[2019-05-27 13:14] Robinlovelace commented on #386
![image](https://user-images.githubusercontent.com/1825120/58422142-c0800100-8089-11e9-976a-a031d5ac3fbf.png)

[2019-05-27 13:23] Robinlovelace commented on #386
Update: the **spDataLarge** error stopped when `library(spDataLarge)` was removed. We load the data in 2 places: once when it's lazily loaded with package loading and again with `data(...)`.

[2019-05-28 08:35] #386 closed

[2019-06-02 23:32] prosoitos opened #391 "Add section on `tm_grid()`"
In section `8.2 Static maps`, I feel that a subsection on adding coordinate grid lines (with `tm_grid()`) is missing.

`ggplot2` includes such lines by default, which, in my opinion, is a sensible default. `tmap` does not. Knowing how to add them seems quite critical to me. Unless I have missed something (possible since I have still only read a rather small fraction of the book), there is nothing

[2019-06-02 23:36] prosoitos commented on #391
In addition, the `tmap` manual is everything but clear on how to use the `projection` argument of `tm_grid()`.

So some info on this in the book would be really useful.

[2019-06-03 07:16] Robinlovelace commented on #391
I think that would be useful. Many thanks for spotting that and the suggestion!

[2019-06-03 07:35] prosoitos commented on #391
I am still struggling to get a happy result with `tm_grid()` actually. ggplot2 produces nice, easy to read and pleasantly formatted coordinates while my results with `tm_grid()`, despite a lot of fiddling with various arguments are still pretty unattractive.

[2019-06-03 07:43] prosoitos commented on #391
I guess, this could also be added into `8.2.5 Layouts` (rather than a new subsection). Which makes most sense probably depends on how much you want to write about it.

[2019-06-04 08:12] Nowosad commented on #391
Hi @prosoitos, would you be able to prepare one or two examples of maps with coordinate grid lines using ggplot2? I plan to use it as a basis for developing a section of how to use `tm_grid()`.

[2019-06-04 18:05] prosoitos commented on #391
ggplot2 has them by default. So as soon as you draw a map with it, it will have them (unless of course you play with the themes, options, etc.)

So if you throw any spacial object into

[code]

that is enough.

[2019-06-04 18:14] prosoitos commented on #391
So, using one of the objects (`nz`) that you use quite a bit in the book, you could simply run:

[code]

[2019-06-04 18:18] prosoitos commented on #391
And if you want to customize them, you can add a `+ coord_sf()` function and play with its arguments (but I find the default satisfactory).

[2019-06-04 18:21] prosoitos commented on #391
Compare for instance

[code]

with

[code]

I find the first pleasing and the 2nd nasty... So for someone who wants coordinate grids, I find tmap unfriendly. And if you give some way to customize `tm_grid()` nicely in the book, that could be very useful to many (I think).

[2019-06-04 19:47] jannes-m commented on #391
Maybe related: https://github.com/mtennekes/tmap/issues/164

[2019-06-04 19:55] prosoitos commented on #391
Yes, having axis ticks without gridlines would be really nice.

The unit and formatting of the coordinates themselves is also tricky to make bearable.

[2019-06-04 19:57] jannes-m commented on #391
Check out also following code showing how to add tick marks with tmap: https://github.com/Robinlovelace/geocompr/blob/536af2801ef62ec93856d8c0a299461afbfdd4e7/11-spatial-cv.Rmd#L116

[2019-06-04 19:58] prosoitos commented on #391
ggplot2 does not at all follow Tufte's principles and has horrible ink per area ratios. So not having the gray background but still having the coordinates in a ggplot2-style formats on ticks along the borders would be ideal.

[2019-06-04 20:01] prosoitos commented on #391
Ah, I am not there yet in the book.

This is totally the kind of thing that I would expect to see in the `8.2.5 Layout` section.

[2019-06-05 07:17] prosoitos commented on #391
I was wondering whether `tm_text()` should not be added in the layout section as well? Or at least mentioned.

[2019-06-05 07:40] jannes-m commented on #391
Regarding the tick marks with **tmap**, I am not sure if I would present this probably rather inelegant hack in the book. Maybe it would be better to convince @mtennekes to add this functionality to **tmap** and/or asking him how we could support him in doing so.

[2019-06-05 09:44] Robinlovelace opened #396 "Change bullet point style?"
See https://github.com/Robinlovelace/geocompr/pull/394/files/189b8d397eea5a092a0d2d93813dc293d17daf32#diff-22c8367d5e418a8bb57816a95687457c

[2019-06-05 17:12] prosoitos commented on #391
I fully agree that `tmap` could improve there. I am too new to the package to open an issue on it, but I considered maybe doing so once I am more familiar with it (I want to make sure I am not missing already existing options).

However that is presented, I feel that things like `tm_text()` (which allow to have labels on polygons based on a variable), or some form of coordinates grid would be impo

[2019-06-05 17:18] prosoitos commented on #391
Another thought I had, still on the theme of plot layout:

it is often necessary to define the boundaries of a map. How to do this with `st_bbox()` is explained in `8.2.7 Inset maps`. But it might be easier to find this information if that were explained earlier (in layout or in its own section), then referenced to in the inlet section: one often needs to zoom in an area of the data without planni

[2019-06-06 07:37] Robinlovelace commented on #396
Bullet points where each point continues a previous sentence should be like this:

1. a fundraising campaign director was being sought;
2. the salary for this director, about $50,000 a year, would be paid out of campaign funds; and
3. the fundraising campaign would be launched in the spring of 2005.

[2019-06-06 07:37] Robinlovelace commented on #396
From the Chicago Manual of Style:

[2019-06-06 07:41] Robinlovelace commented on #396
However, "Items carry no closing punctuation unless they consist of complete sentences." For example:

Compose three sentences:
1. To illustrate the use of commas in dates
2. To distinguish the use of semicolons from the use of periods
3. To illustrate the use of parentheses within dashes

[2019-06-06 07:44] Robinlovelace commented on #391
A PR on this would be very welcome.

[2019-06-06 09:43] Nowosad commented on #391
About `tm_grid()` - I think we should firstly try to improve the **tmap** defaults before trying to write a section with our hacks... Therefore, I opened an issue at https://github.com/mtennekes/tmap/issues/315.

[2019-06-07 20:15] prosoitos commented on #391
Great! :slightly_smiling_face: Thanks @Nowosad. Great suggestions in that issue!

[2019-06-07 20:16] prosoitos commented on #391
OK. I am quite busy in the coming few days, but happy to do this afterwards (only about defining boundaries. I won't do anything about `tm_grid()`).

[2019-06-07 20:33] Robinlovelace commented on #391
And as Jakub says, it makes sense to document it only after https://github.com/mtennekes/tmap/issues/315 has been resolved. It's definitely an oversight in the book so thanks again for raising it and to Jakub to have the foresight and skills to propose upstream changes to **tmap** that everyone will benefit from.

[2019-06-09 03:30] prosoitos opened #399 "Broken external links"
The link https://proj4.org/geodesic.html, in [section 6.3](https://geocompr.robinlovelace.net/reproj-geo-data.html#which-crs-to-use) seems broken.

[2019-06-09 19:29] prosoitos commented on #399
And another one: https://proj4.org/usage/index.html at the very end of [section 6.5](https://geocompr.robinlovelace.net/reproj-geo-data.html#modifying-map-projections).

[2019-06-10 05:36] Nowosad commented on #399
Thanks! There was a recent change in the proj website that broke the links. https://github.com/Robinlovelace/geocompr/commit/955731d111c345c203f5e34c13634d0f266043ef

[2019-06-10 05:36] #399 closed

[2019-06-10 17:11] prosoitos commented on #399
My pleasure!

[2019-06-12 20:50] maxlavoie commented on #264
To be able to rotate the map by holding Cmd/Ctrl + arrow should be added to the documentation. Nice tip!

[2019-06-13 18:46] florisvdh opened #401 "Requested clarification in section 3.3.1: raster subsetting"
_(General note on this and coming issues. Here follows a series of small issues on understandability for the reader, after having read several book chapters. Don't feel overwhelmed, I just splitted the suggestions/concerns into separate issues so that you can keep track more easily. Despite the list of issues I am a huge fan of the book ;-))_

The first paragraph of section 3.3.1 reads as follows:

[2019-06-13 18:47] florisvdh opened #402 "Requested clarification in sections 4.3.4/4.3.5: focal vs. zonal operations"
More clarity is needed on the distinction between the filters in both types of operation.

Currently, the following statements are a source of confusion:

- In the paragraph on focal operations:

- In the paragraph on zonal operations:

Perhaps (as I understand it), the primary distinction is that the focal operations use a 'moving window' while the zonal operations don't: these just apply an aggr

[2019-06-13 18:47] florisvdh opened #403 "Requested clarification in section 4.3: subsection structure"
The current sections 4.3.3 to 4.3.6 actually belong to 4.3.2. I suggest to put them one level lower (maybe you will want to use a different numbering system or none at all for that level). Further, the second paragraph of 4.3.6 (section 'Global operations and distances') generalizes on map algebra and connects with vector processing; it therefore overarches 4.3.3 to 4.3.6. I think it should be dis

[2019-06-13 18:48] florisvdh opened #404 "Requested clarification in section 5.2.7: geometry casting"
In the first paragraph it is stated:

There is an explanation (in a note and thereafter) on a difference in behaviour between sfg and sfc/sf objects regarding transformation from multi- to non-multi-objects.

However, confusion arises with table 5.1. There should be more consistency between the accompanying paragraph and the table caption:

[2019-06-13 18:48] florisvdh opened #405 "Requested enhancement in section 5.3: geometric operations on raster data"
This is a comment on the introductory part before section 5.3.1. Rather than introducing the topics that follow, the text focuses on other applications. Of course it does not harm to mention those, but it would read much better if you start with (and focus on) the topics that _are_ treated, just as in 5.2. I think that a large part of this text would fit better in a subsection '5.3.4 More advanced

[2019-06-13 18:49] florisvdh opened #406 "Requested enhancement regarding section 5.3.1: geometric intersections"
Apart from the mentioning of `intersect()` and `crop()`, this is just a repetition of a part of 4.3.1 (spatial subsetting), where also the functions `mask()` and `overlay()` are demonstrated. I suggest:

- to avoid this redundancy by partially rethinking how to structure the texts on raster operations
- to explain the differences between these four functions, in one place.

[2019-06-13 18:50] florisvdh opened #407 "Requested clarification in section 5.3.3: methods of raster::disaggregate"
I suggest to better explain the 'nearest neighbor' method, as it is not unequivocal here.

Actually, from `help(raster::disaggregate)` I do not see mention of 'nearest neighbor', so I doubt if it is actually correct (to me it seems misleading). Rather than searching for a 'nearest neighbor', in the case of `method = ""` "the values in the new RasterLayer are the same as in the larger original cell

[2019-06-13 18:52] florisvdh opened #408 "Requested clarification in section 5.3.3: the raster::resample() function"
In fact, the **raster** package provides a `resample()` function.
It lets you align several raster properties in one go, namely origin, extent and resolution.
By default, it uses the `bilinear`-interpolation.

From the text above the chunk, it is not clear why you start with `dem_agg`, extend it, and use this for resampling. An explanation clarifying more specifically the purpose of the example wo

[2019-06-13 18:52] florisvdh opened #409 "Requested clarification in section 7.4: query string"
The precise meaning of "a ‘query string’ proceding a ?" should be worded more clearly.

[2019-06-13 18:54] florisvdh opened #410 "Requested clarification in section 7.5: tif vs. tiff"
Compare the GeoTIFF line in table 7.2 (under '7.5 File formats'):

Table \\@ref(tab:formats) presents some basic information about selected and often used spatial file formats.

with (under '7.7.2 Raster data'):

For example, the `.tif` extension will create a GeoTIFF file:

This makes me wonder whether a distinction between `.tif` and `.tiff` actually makes sense (I presume it does not).
Anyhow,

[2019-06-13 18:55] florisvdh opened #411 "Requested clarification in section 7.7.2: raster file format"
Some raster file formats come with additional options.
You can use them with the `options` [parameter](http://www.gdal.org/formats_list.html).

The second sentence causes some confusion with the first, i.e. '`raster` file format' vs. 'raster file format' -- especially because they appear next to each other, within the same paragraph (a little lack of attention causes the reader to think it is stil

[2019-06-13 18:57] florisvdh opened #412 "Requested clarification in section 9.4: rgrass7"
_(General note: this is the last one! Sorry for the long-time accumulated, and at-once-submitted issues!)_

I think the statement:

is either not correct, or is at least misleading.
From the current text, it appears as if everything is organized within an SQLite database file, which sits in a specified folder.

The [GRASS documentation](https://grass.osgeo.org/grass77/manuals/grass_database.html)

[2019-06-13 20:06] Robinlovelace commented on #412
Thanks for the comment @florisvdh. I think @jannes-m wrote that so we'll await feedback. Lots of comments, this is the first I've read. Hope the others are as well-informed as this one. If so they are very welcome: they will make the book stronger.

[2019-06-13 20:40] Robinlovelace commented on #409
Working on it...

[2019-06-13 20:48] #409 closed

[2019-06-13 20:49] Robinlovelace commented on #409
See updated text below. I also found a couple of other issues in the text of section 7.4, which I think I've fixed. Seem OK to you @florisvdh? Agree the meaning of 'query string' was not clear. Thanks for reporting.

![image](https://user-images.githubusercontent.com/1825120/59466402-29ef6600-8e25-11e9-92ba-02bb65948a91.png)

[2019-06-13 20:51] Robinlovelace commented on #264
That's one for @SymbolixAU, in the (I think likely) event that you didn't see this.

[2019-06-14 05:09] #411 closed

[2019-06-14 05:12] Nowosad commented on #411
Thanks!

[2019-06-14 07:34] florisvdh commented on #409
Text and example definitely improved, thank you.

You will know better than me, but is 'proceding a ?' proper English? I just can't find 'proceding' in a dictionary :-) I think you mean that the query arguments are preceded by a '?'.

[2019-06-14 07:35] jannes-m commented on #402
The distinction is that zonal operations use filters whose parts (raster cells) don't need to be neighbors, think for instance of land use categories or the example we have used in the book, soil grain sizes (sand, silt, clay; https://geocompr.robinlovelace.net/attr.html#fig:cont-raster). By comparison, the raster cells used as a focal filter have to be connected.
If you can think of a better expl

[2019-06-14 07:46] jannes-m commented on #403
We were not allowed to use headings below the third level. So your suggestion to make 4.3.3-4.3.6 part of 4.3.2 make sense and if I remember correctly, we did so in the beginning. Regarding 4.3.6 I am not entirely sure what you are referring to. Global operations are part of map algebra, and one typical global operation is the computation of a distance raster or in more general terms the computati

[2019-06-14 07:54] florisvdh commented on #402
@jannes-m  Your answer already provides more clarity. The current confusion arises because it is not actually explained what 'zonal filters' are. From the two cited sentences in 4.3.5 (i.e. the first two of the zonal subsection), no clear distinction can be made compared to focal operations (where 'any other shape' is also mentioned). Then the text moves to an example.

I think a second distinctio

[2019-06-14 08:00] florisvdh commented on #403
See second paragraph under 4.3.6, that's my second point: that paragraph does not specifically belong to 4.3.6 (it is not just about global operations), but overarches 4.3.3 to 4.3.6. That paragraph goes as:

I am still convinced that from the sections layout, no confusion should arise about the relations between 'map algebra', 'local operations', 'focal operations' and so on.

[2019-06-14 08:07] prosoitos opened #415 "Suggestion: add info on plotRGB in 2.3 raster data"
Being totally new to GIS in R, it took me some time to figure out how to display a georeferenced image "as is". It was not obvious to the neophyte that I am that a picture would be a `Red-Green-Blue plot and that to create such plot, a '.tif' file would need to be passed to `brick()` to handle the 3 layers of red, blue, and green, then to `plotRGB()`. I used `raster()` instead for several days bef

[2019-06-14 08:10] Robinlovelace commented on #415
+1 `plotRGB()` is a useful function worth of a mention.

[2019-06-14 08:16] jannes-m commented on #401
Mmh, I guess you are right. Originally, we have also shown that one needs to convert coordinates into cellIDs in order to extract the corresponding raster values (see https://github.com/Robinlovelace/geocompr/commit/2f371162ac90db56b6b0580c86460569283ba9f8).
One could also use `extract()` in combination with coordinates. But here, we are specifically talking about `[` subsetting. It would be also

[2019-06-14 08:23] jannes-m commented on #407
I guess you are right, my bad, will rewrite... thanks for spotting!

[2019-06-14 08:24] prosoitos commented on #410
I was wondering about any potential difference between `.tif` and `.tiff` too. A bit of googling convinced me that they are simply 2 equivalent ways of writing the same extension (like `.jpg` and `.jpeg`). But maybe it is not the case?

[2019-06-14 08:25] florisvdh commented on #401
Hi @jannes-m , I think I can follow your suggestion to widen up things. Just make sure that the scope of the bullet list remains clear in that case (first sentence): either it is about ways of subsetting with `[`, or it is more than just that.

[2019-06-14 08:32] Robinlovelace commented on #409
You're right again @florisvdh, well spotted. I've changed it to the plain English word 'following'.

[2019-06-14 08:35] Robinlovelace commented on #401
I should also say that if you have a clear idea of how to improve things @florisvdh Pull Requests are very welcome! But understand you may want clarification/confirmation before submitting. I think the suggestion by @jannes-m is good.

[2019-06-14 08:37] jannes-m commented on #412
I think I've read that the GRASS database is built/based on SQLite, most likely in https://www.springer.com/de/book/9780387357676. I don't have the book right now but will look it up on Monday. But @neteler, could you please clarify if you have a moment?

[2019-06-14 08:47] florisvdh commented on #401
@Robinlovelace I agree, thanks, but in this case I feel not experienced enough with the possibilities in **raster** to judge about the best solution or the actual wordings (I think that's more or less true for most of my posted issues, but there may be exceptions after some discussion indeed). I just read the book to learn, and I've already learned much from it - thanks a lot!

[2019-06-14 08:50] jannes-m commented on #407
closed through 218bf727e1767d51bddd3045e2bc1a3d2bcd4fdc

[2019-06-14 08:50] #407 closed

[2019-06-14 08:53] prosoitos commented on #415
I still haven't figured out how to do the same with `tm_rgb()` (to do all my mapping with tmap). It may be because my data is not suitable. It might make sense to also include that function in the rgb plot little addition.

[2019-06-14 08:55] jannes-m commented on #401
closed via aacdcc66571df0c1b65f6d12be7c21a996a3d147

[2019-06-14 08:55] #401 closed

[2019-06-14 09:06] jannes-m commented on #403
You are right the last paragraph are concluding remarks regarding map algebra operations. Therefore, it is suboptimal that the paragraph appears in the global operations section. Therefore, you propose a new very short section named "Map algebra compared to vector processing". Maybe not a bad idea, opinions @Robinlovelace & @Nowosad?

[2019-06-14 11:54] jannes-m commented on #408
I see your point when reading only the paragraph on `resample()`. However, when reading also the paragraph on (dis-)aggregation and the previous section on origin and extent, it should be rather clear what changing the origin, the extent and resolution means. Therefore, to avoid duplication, I suggest to reference the corresponding sections in the text. On the other hand, you are right that the `r

[2019-06-14 12:10] jannes-m commented on #402
Reading the two sentences instead of just the one you have cited and looking at the indicated figure, I think the difference is already made clear:

But if you have a better suggestion, please let us know!

[2019-06-14 12:20] jannes-m commented on #406
The difference is that in the first case (4.3.1) we are talking about spatial subsetting. In section 5.3.1 we are talking about geometric operations, i.e., the returned object is e.g., a raster object and not just a value. This is an important difference which is why we have distinguished between spatial and geometric operations. Hence, if you would like to restructure the text you have to come up

[2019-06-14 12:23] florisvdh commented on #402
I see! Well, at least the explanation wasn't clear enough to me ;-). You're definitely right that the example does shed more light on what zonal operations are about. But, I propose to make a small PR to show which wording I think would make things more clear from the beginning, is that OK to you @jannes-m ?

[2019-06-14 12:29] jannes-m commented on #405
Well, I guess this might be a matter of taste. To give some geospatial background (as we do throughout the book and which is also intended because this welcomes readers coming from a RS/GIS background to R, teaches spatial stuff to people coming from R, in short makes this book a text book) I thought it would be a nice idea to define shortly geometric raster operations. That not all of those can o

[2019-06-14 12:29] #405 closed

[2019-06-14 12:33] jannes-m commented on #402
sure, very much welcome!

[2019-06-14 12:36] florisvdh commented on #406
I'll think further about potential solutions and come back, thanks for your point of view!

Anyhow, I find the distinction between attribute, spatial and geometry operations, and the consistent handling for vector and rasters a very strong point of the book.

[2019-06-14 12:47] #406 closed

[2019-06-14 16:00] Nowosad commented on #404
Great find. Thank you @florisvdh ! https://github.com/Robinlovelace/geocompr/commit/261f1c180997fa7bac94cc89ed18ce48eaab3563

[2019-06-14 16:00] #404 closed

[2019-06-14 18:09] florisvdh commented on #404
Perfect, thanks.

[2019-06-14 18:12] florisvdh commented on #409
Nice!

[2019-06-14 18:13] florisvdh commented on #407
Perfect, thank you @jannes-m

[2019-06-15 06:26] Nowosad commented on #410
Yes, I think those extensions are equivalents. @jannes-m ?

[2019-06-15 06:58] jannes-m commented on #410
as far as I know but I haven't checked

[2019-06-15 09:31] neteler commented on #412
Sorry for the confusion.

**Attributes**
 Yes, the default database driver used by GRASS GIS 7 is SQLite. Explanations now added to the manual:
https://github.com/OSGeo/grass/pull/33

(as soon as being accepted, it will show up at https://grass.osgeo.org/grass77/manuals/vectorintro.html )

**Geometry**
Geometry is stored by default in the specific, optimized GRASS GIS vector format. See https://gr

[2019-06-17 08:50] Robinlovelace commented on #412
Many thanks Markus!

[2019-06-17 11:47] florisvdh commented on #412
Thanks a lot for shedding more light! As I see it now, I think from the book text there is potential confusion between:

1. the format in which a layer is by default stored in GRASS, i.e. using an SQLite database as I understand it.
1. the [GRASS GIS Database](https://grass.osgeo.org/grass77/manuals/grass_database.html), which is the folder `grassdata` (strict folder hierarchy in a local or networ

[2019-06-17 12:45] PauGallesClara opened #417 "Not sure if nz and nz_hight datasets have Name == "Canterbury" (Chapter 4)"
In chapter 4, The following code (4.2.1) doesnt't work.
       canterbury = nz %>% filter(Name == "Canterbury")
       canterbury_height = nz_height[canterbury, ]

In appereance, datsets nz and nz_heigt don't have province name (such as "Canterbury"). They just have (long, lat, group, order, region,  subregion). Am I right? Is there anything that must be done before executing the code (for exeampl

[2019-06-17 13:30] Robinlovelace commented on #417
The region names are in the `Name` column, as shown below. Do you get something different? Closing for now.

[code]

<sup>Created on 2019-06-17 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-06-19 11:07] PauGallesClara commented on #417
HI ! If I put your code I get what you say.
But if I execute just nz I get just (long, lat, group,  order, region,  subregion) but "Name" it doesn't appear
And if i ask class(nz) I get that is just a data.frame
Due to that when I execute the next code I get the this error message:

Error: object 'Name' not found

Something is happening, and  I'm affraid that prolem is only mine. Can you help me?

[2019-06-19 11:08] Nowosad commented on #417
@PauGallesClara have you tried to install the newest version of the spData package?

[code]

[2019-06-19 11:15] PauGallesClara commented on #417
Thank you for your answer. I'v installed again the spData
And when I call the library(spData) I get that error message:

Attaching package: ‘spData’

The following object is masked _by_ ‘.GlobalEnv’:

    nz

Maybe, somehow I have conflicts with nz?

[2019-06-19 11:16] Nowosad commented on #417
Try it one more time in a new, clean R session.

[2019-06-19 12:07] PauGallesClara commented on #417
I'v tried again and again, and I still have the same problem...

Just for finishing that, one more question. Wich class must have nz ? sf, sp or data.frame?
When I execute:

[1] "Name"          "Island"        "Land_area"     "Population"    "Median_income" "Sex_ratio"     "geom"

but just nz

        long       lat group order        region subregion

Maybe there, there is the probrem on how the

[2019-06-19 12:18] Nowosad commented on #417
@PauGallesClara , please try to restart R, and then:

[code]

What is the output here?

[2019-06-19 12:33] PauGallesClara commented on #417
It works!!!
Now

[1] "sf"         "data.frame"

Thank you very much!!!!

[2019-06-19 12:46] Nowosad commented on #417
:+1:

[2019-06-19 12:46] #417 closed

[2019-06-20 09:19] Nowosad commented on #410
What do you think about replacing

`"GeoTIFF", ".tiff", "Popular raster format similar to .tif format but stores raster header.", "Raster", "Open"`

with

`"GeoTIFF", ".tif/.tiff", "Popular raster format. A TIFF file containing additional spatial metadata.", "Raster", "Open"`

?
@jannes-m @florisvdh @prosoitos

[2019-06-20 09:28] Nowosad commented on #403
It would be one option. Another one would be to move (and slightly rewrite) this paragraph to the end of 4.3.2.

[2019-06-20 09:58] Nowosad commented on #415
@prosoitos can you share your data with us? I could try to make it work with tmap...

[2019-06-20 11:18] Nowosad commented on #408
I would suggest expanding the part about `resample()`. 1) it could be useful in many cases, 2) there is a reference to this function in the next chapter

[2019-06-20 11:26] florisvdh commented on #408
I as well rather prefer to have it kept and improved.

[2019-06-20 11:30] florisvdh commented on #410
@Nowosad Seems OK to me.

[2019-06-20 12:18] Robinlovelace commented on #410
+1 Go for it @Nowosad

[2019-06-20 12:20] Nowosad commented on #410
Awesome.
https://github.com/Robinlovelace/geocompr/commit/854ac1b24d9ccbb58d4bdd02c9cacee9c1ea506f

[2019-06-20 12:20] #410 closed

[2019-06-20 21:22] prosoitos commented on #410
Much less confusing. I like the change too.

[2019-06-20 21:34] prosoitos commented on #415
For sure. But the pictures are really large. I would have to upload them somewhere and it would take a lot of cloud space and upload time. Of course, I could first read them in with `raster()` and create a much smaller object with `crop()` and upload that. But it might be more efficient if I try to learn how to transform them myself. I honestly haven't looked at that at all yet. If you have refere

[2019-06-24 08:34] jannes-m commented on #402
Closed via #416

[2019-06-24 08:34] #402 closed

[2019-06-24 08:49] jannes-m commented on #403
Ok, thanks for the suggestions. I think the best solution for the moment is to add an extra section header. This makes clear that we are no longer talking about global operations. Putting this stuff to the beginning of the map algebra section would be also possible, however, then we would have to explain in advance what are the different operations are.

[2019-06-24 08:49] #403 closed

[2019-06-24 09:14] jannes-m commented on #412
No, I don't mean that. I was referring to the transaction mechanism of databases which allow multiple users to work on the same file (somewhat similar to git). To clarify I will rewrite.

[2019-06-24 12:31] neteler commented on #412
If you discuss GRASS GIS and SQLite here: each mapsets contains a file sqlite/sqlite.db. Each location can be used by multiple users at the same time (esp. if stored in a network drive) while a mapset can only be edited by the respective owner (think ACL).

The situation is partially different when using PostGIS as the database management backend for attributes.

Or when using this (prototype) GRA

[2019-07-11 13:53] Robinlovelace opened #418 "Workshop questionnaire"
Some ideas on questions to ask participants in workshops (could become and vignette or a markdown file).

3. I am most interested in learning about (free text):

7. Any dietary requirements? Leave blank if none

8. R experience (multiple choice)

I'm a complete R beginner

I have some experience using R

I am experienced with R

9.I have successfully completed the test code exercises the PCT train

[2019-07-11 23:18] #418 closed

[2019-07-12 10:04] eblondel opened #419 "Suggestion: Add a section on spatial metadata handling"
Hi @Robinlovelace @Nowosad , we've been liaising regarding [ows4R](https://github.com/eblondel/ows4R) and how to grab data using OGC web standards.
I'm wondering if you would be interested to add a section for spatial **metadata** handling. Metadata handling is still an obscure side for many people (and quite new in the R community), but its interest is growing a lot, being a huge task of scientif

[2019-07-17 15:36] Robinlovelace opened #420 "Travis build is failing"
With this message:

[code]

Heads-up @jannes-m, any ideas?

Robin

[2019-07-17 15:36] Robinlovelace commented on #420
https://api.travis-ci.org/v3/job/557204791/log.txt

[2019-07-17 15:53] Robinlovelace commented on #420
Update: I can reproduce this locally.

[2019-07-17 16:01] Robinlovelace commented on #420
This is the line that fails, it silently produces NULL:

[code]

[2019-07-18 09:16] Robinlovelace commented on #419
Hi @eblondel, many thanks for this suggestion. I think that metadata is certainly an under-appreciated aspect of geographic data processing. I think the first issue is that many people (myself included!) do not have a clear idea of whate geographic metadata is / is not. Would it include, for example, the output from `st_layers()`, or is it more about standards? I see some reproducible code in the

[2019-07-18 15:56] Nowosad commented on #420
It should be fine now - https://github.com/rspatial/raster/issues/62#event-2493087771. (You just need the dev version of raster)

[2019-07-18 15:56] #420 closed

[2019-07-18 17:07] Robinlovelace commented on #420
Fantastic upstream bug diagnosis and fix. Amazing work @Nowosad !

[2019-08-06 16:07] Nowosad commented on #419
Hi all. @Robinlovelace  - I met @eblondel during the last day of UseR!2019, and we have a nice discussion about spatial metadata.

I agree with everything @Robinlovelace wrote above. @eblondel would it be possible for you to write a short paragraph or two about spatial metadata? E.g. (1) what's that, (2) why should we use them, (3) how to set them, (4) how to read/edit them. We could next decide i

[2019-08-07 15:31] eblondel commented on #419
Hi @Nowosad i'm fine with your proposal. I will work on 1/2 paragraphs to introduce about spatial metadata and the R perspective. Thanks both for your answers

[2019-08-20 17:17] Nate646 commented on #420
I just ran into this issue, Fix 420 hasn't been included in the zip-file [download of the geocompr repo](https://github.com/Robinlovelace/geocompr/archive/master.zip). I had to access _13-location.Rmd_ locally and then manually make the changes.

[2019-08-21 09:16] Robinlovelace commented on #420
Hey @Nate646 the fix isn't to our code, it's to the raster package. See the fix here, which you can get by installing the dev (GitHub) version for the raster package: https://github.com/Robinlovelace/geocompr/issues/420#issuecomment-512877271

[2019-08-21 17:13] Nate646 commented on #420
Oh, I see. All I meant was, lines 233-235 were different in the _geocompr repo_ I downloaded and I only got it to work by commenting out line 233.
![Fix 420](https://user-images.githubusercontent.com/11836974/63452802-34c20a80-c415-11e9-9ea1-0428d26c8e12.JPG)

[2019-08-21 18:37] Robinlovelace commented on #420
Thanks for the clarification @Nate646. Could you try re-downloading the repo? Hopefully the latest (fixed) version of the code is now in the .zip file.

[2019-08-21 18:37] jannes-m commented on #420
Please install the developer version of the raster package as Robin pointed out before and run the code again. Commenting out l. 233 would just give you wrong results later on.

[2019-08-21 18:39] Robinlovelace commented on #420
Dev. version of the raster package can be installed by running

[code]

[2019-08-22 04:26] dewoller opened #427 "Bug in chapter 4.2.4, the line st_join(cycle_hire_P, cycle_hire_osm_P, st_is_within_distance, dist = 20)"
Hi Robin et al, thanks for the great book.  Sf/sp is a bit messy.  Can definitely use your clarification.

The code in chapter 4.2.4 has a bug under R v3.61:
https://geocompr.robinlovelace.net/spatial-operations.html#non-overlapping-joins

Minimal failing repex follows:

[code]

<sup>Created on 2019-08-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

SessionInfo follows:

[

[2019-08-22 11:16] Nowosad commented on #427
I am unable to reproduce this error yet... What are the versions of **sf** and **dplyr** that you are using?

[2019-08-22 11:40] dewoller commented on #427
Oh Yes, if you run sessionInfo by itself in reprex, it is pretty boring. Fixed sessionInfo above

[2019-08-22 11:48] Nowosad commented on #427
Thanks @dewoller, the solution is pretty simple - you just need to specify the name of the third argument (`join`) in the `st_join()` function. It is probably required it the new version of **sf**...

[code]

<sup>Created on 2019-08-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-08-22 11:49] Nowosad commented on #427
I am going to update it in the book tomorrow.

[2019-08-22 12:43] Robinlovelace opened #429 "Add binder?"
Experimenting with binder here: https://github.com/geocompr/RGSWorkshop

Let's see what comes of it - give it a try if you get a chance and let me know if it works!

[2019-08-22 12:52] Robinlovelace commented on #429
Heads-up: it works!

![image](https://user-images.githubusercontent.com/1825120/63516007-05c69a00-c4e4-11e9-803e-b0086284e916.png)

[2019-08-22 12:52] jannes-m commented on #429
@pat-s will use it at the summer school next week

[2019-08-22 12:53] Robinlovelace commented on #429
Worth adding a binder link to this repo? I suspect so.

[2019-08-22 15:58] Robinlovelace commented on #429
I think that PR request will close that issue :tada:

Can you test it here and review the PR @jannes-m and @Nowosad ?

https://github.com/Robinlovelace/geocompr/tree/binder

[2019-08-23 07:31] Robinlovelace commented on #429
It works!

![image](https://user-images.githubusercontent.com/1825120/63574735-61defc00-c580-11e9-973b-fce6953c7850.png)

[2019-08-23 07:31] #429 closed

[2019-08-23 15:39] Robinlovelace opened #431 "Docker image config - repos wrong"
This message appears on load:

[code]

[2019-08-23 15:40] #431 closed

[2019-08-24 08:17] #427 closed

[2019-08-24 11:18] Robinlovelace commented on #427
Just got round to reading this issue and happy to see it's already fixed :tada:. Thanks @dewoller for reporting. Great fix Jakub!

[2019-08-24 11:30] Robinlovelace opened #434 "Add zenodo badge"
See https://zenodo.org/

You happy with this @Nowosad and @jannes-m ? Will give it a DOI and link the book more explicitly to the code in this repo. Plus show downloads and more. See here for more info: https://guides.github.com/activities/citable-code/

[2019-08-26 12:50] Robinlovelace opened #435 "Allow and encourage users to build the book in Docker"
Heads-up @jannes-m I just tried the new Docker image. Good news: the folder is in the default working directory. Bad news:

![image](https://user-images.githubusercontent.com/1825120/63691923-69183b00-c808-11e9-87e5-cd2d012ae8fe.png)

[2019-08-27 01:31] Robinlovelace opened #437 "Royal Geographical Society (RGS) reproducible map competition"
Just as with the EGU reproducible map competition #371 and the GISRUK reproducible map competition #376 we have a best map competition for the RGS Geocomputation Workshop. Deadline for submissions: 16:30 UK time. There are two categories and at least one winner will be based at the course. Entrants are welcome from anywhere across the world.

Categories:

- most creative map making people think in

[2019-08-27 18:00] Nowosad commented on #434
Why not...

[2019-08-28 20:36] Robinlovelace commented on #435
Part of a wider issue: allow and encourage users to build the book. Already possible in Binder:

![image](https://user-images.githubusercontent.com/1825120/63890878-c6181a80-c9db-11e9-8b53-6cf5b8fcef2b.png)

https://mybinder.org/v2/gh/robinlovelace/geocompr/master?urlpath=rstudio

[2019-08-29 12:07] #434 closed

[2019-08-31 04:34] nreguera opened #441 "to generate an object to be plotted as an animated map"
Hi,

I am trying to reproduce the sample shown in the figure 8.17 of [this link](https://geocompr.robinlovelace.net/adv-map.html#animated-maps)  to generate an animated map, but I am having difficulties to create the object from which the map would be plotted.

As far as I have learnt, the map is generated from a dataframe that contains a geographical variable on it. In my case, I have a dataframe

[2019-09-02 10:05] Robinlovelace opened #443 "Change RStudio defaults in Docker + Binder"
I think we should make code in .Rmd files evaluate in the console.

See here for how to do that: https://github.com/rstudio/rstudio/issues/1607#event-2501270331

Reasoning: https://github.com/rstudio/rstudio/issues/5280

[2019-09-02 17:55] Robinlovelace commented on #441
Hi @nreguera, can you share a reproducible example? The following code works for me:

[code]

![](https://i.imgur.com/hdUOlnm.gif)

<sup>Created on 2019-09-02 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Please try to run the preceding lines of code and let us know how you get on. Suerte!

[2019-09-03 12:11] nreguera commented on #441
Hola!

Your example works for me, but I am trying to reproduce it with another data (btw is the area animation, figure 8.17, not the dots animation).

Attached a reproducible sample: [Animate.zip](https://github.com/Robinlovelace/geocompr/files/3569333/Animate.zip).

Thanks.

[2019-09-04 07:43] Robinlovelace commented on #441
[code]

![](https://i.imgur.com/Rcs7oul.png)

[code]

![](https://i.imgur.com/ziH61EZ.png)

[code]

![](https://i.imgur.com/ZCfBn98.png)

<sup>Created on 2019-09-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-09-04 08:16] Robinlovelace commented on #441
Update: adding a few changes to the above allows you to animate it with `tmap_animation()`:

[code]

Resulting in the output below.
![out](https://user-images.githubusercontent.com/1825120/64237559-7a420580-cef4-11e9-816f-8ab7f3b5395b.gif)

Let me know how you get on, thanks for the interesting question, hope this helps.

[2019-09-05 01:01] nreguera commented on #441
Wow @Robinlovelace  that looks very interesting. It´s very close to I was looking for, but I have some questions:

- Why you convert the map object into sf?
- I can´t reproduce your code because in this line:

`mutate(year = lubridate::year(date))`

Gives me this error:

- This code is in fact in the middle of a cleaning and transformation stage, and the dataset I sent you is in some point of this

[2019-09-05 07:32] Robinlovelace commented on #441
Because sf datasets have many advantages. See here: https://geocompr.robinlovelace.net/spatial-class.html#why-simple-features

[2019-09-05 07:37] Robinlovelace commented on #441
Try updating your versions of R and your packages with `update.packages()`. Then it should work.

You would modify this line in the above code to group by month:

[code]

No worries, glad to be of assistance. Also note, this issue tracker is not really for asking general questions but is about the book. In future, please post such questions to forums such as:

- http://r-sig-geo.2731867.n2.nabble.

[2019-09-05 07:37] #441 closed

[2019-09-05 11:46] nreguera commented on #441
Thank you so much and sorry for using this thread for out of topic questions. Indeed I am reading your book and trying to apply it to my thesis. I read the part of simple features, but I guess I need to re-read it again.

Congrats for the book.

Natxo.

[2019-09-05 12:04] Robinlovelace commented on #441
No problem @nreguera, and further comments/questions you have on the book, feel free to open an issue. In fact this issue has been useful so thanks for asking!

[2019-09-10 16:56] Robinlovelace opened #444 "Install ImageMagick on Docker"
See here - testing now in robinlovelace/geocompr

[2019-09-10 17:06] Robinlovelace commented on #444
![image](https://user-images.githubusercontent.com/1825120/64634698-c5c54980-d3f5-11e9-8931-9842f099525e.png)

[2019-09-10 17:07] Robinlovelace commented on #444
Update: install instructions work fine on the Docker image we use so should be fine.

https://www.tecmint.com/install-imagemagick-on-debian-ubuntu/

This will allow our image to create animations.

[2019-09-10 22:07] Robinlovelace commented on #444
Confirmed, #445 fixes it:

[code]

[2019-09-10 22:13] Robinlovelace opened #446 "Make Python3 default Python version in reticulate/RStudio in Docker"

[2019-09-10 22:26] Robinlovelace commented on #446
Update: following that you can enter the terminal (Alt-Shift-T) and run

[code]

From there on you can run the geopandas stack from inside the image. Fixed in PR. Next up: create a 'geocompy' Dockerfile that has these and other Python pkgs pre-installed.

[2019-09-11 08:13] #444 closed

[2019-09-11 08:13] #446 closed

[2019-09-11 09:15] LivJH commented on #437
[RGSMap.zip](https://github.com/Robinlovelace/geocompr/files/3599941/RGSMap.zip)

Zip file of R script and accompanying code

Olivia Horsefield

[2019-09-11 09:55] Robinlovelace commented on #437
Many thanks for the submission @LivJH !

[2019-09-11 16:14] Robinlovelace commented on #437
Confirmed, the map is indeed reproducible, as verified by the output of
[code]

[code]

![](https://i.imgur.com/7dpEaAt.png)

<sup>Created on 2019-09-11 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-09-13 12:25] j-herring commented on #437
Hi Robin,

Here is my entry, hopefully it's reproducible

[Reproducible_Map_Contest.zip](https://github.com/Robinlovelace/geocompr/files/3610009/Reproducible_Map_Contest.zip)

[2019-09-13 13:39] Robinlovelace commented on #437
It is reproducible :tada:

[code]

![](https://i.imgur.com/67KN575.png)

<sup>Created on 2019-09-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-09-13 14:00] SimonCoulombe commented on #437
This map shows where traffic originates (on the south shore) and where it arrives (on the north shore).  It aims to demonstrate that a proposed 4 billion $ tunnel on the eastern part of the city (touching the western tip of the island) is futile:

library(tidyverse)
library(sf)
library(mapview)
library(readxl)
library(janitor)
library(tmap)

download.file(
  url = "https://www.transports.gouv.qc.c

[2019-09-16 14:43] Robinlovelace commented on #437
Update: the winners have been announced here https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=ind1909&L=QUANT-GEOG&O=D&P=6787

Congratulations to @j-herring and @LivJH 🎉

[2019-09-16 14:43] #437 closed

[2019-09-29 21:40] iDemirsoy opened #448 "Which points inside chosen small polygon"
Hi Dr Lovelace,

I have a SpatialPolygonsDataFrame, SpatialPointsDataFrame and SpatialLinesDataFrame for a county in the USA. I uploaded 4 plots, one for each of them and one for plot() lines() points()
as we can see CRS these are from same area. I have 2 questions.

1- Is there a way to combine them ? maybe not 3 of them. I would be okay to combine combine pointsdataframe with any of them to work

[2019-09-30 05:59] Robinlovelace commented on #448
Hi @iDemirsoy good question. The book uses the newer sf package but you can go from your data to sf objects with the function `st::st_as_sf()`. As a starting point I've created a reproducible example (reprex) that I think represents your data:

[code]

![](https://i.imgur.com/rRkQPrF.png)

<sup>Created on 2019-09-30 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-09-30 06:07] Robinlovelace commented on #448
[roads-test-data.Rda.zip](https://github.com/Robinlovelace/geocompr/files/3669086/roads-test-data.Rda.zip)

Challenge: starting with the code below convert the objects into sf objects, take a read of Chapters 2, 3 and 4, and see if you can work out the answer, this section should be especially useful: https://geocompr.robinlovelace.net/spatial-operations.html#spatial-aggr

This code should get you

[2019-09-30 22:12] agila5 commented on #448
Hi! I'm not really sure I understand your questions, @iDemirsoy can you share some data and code?

Thanks.

[2019-10-01 04:08] iDemirsoy commented on #448
Hi Dr @Robinlovelace,

I actually figured after I looked at your book. The page is fascinating. I figured which points in which tract.
tract7 = leonTract1 %>% filter(tract == "7")
L7 = linesL[tract7, ]
pt7= crshs[tract7,]

my new problem, when I tried to find which accident happened in which road, It doesn't work.
I looked at points of accidents on ArcGIS and Points are so close to roads(lines), t

[2019-10-01 06:40] Robinlovelace commented on #448
Hi @iDemirsoy glad you found the book useful. I think creating buffers around the roads will help. The example below creates a 200 m buffer around the road and then aggregates the crashes per road segment. Watch out for double counting. Let us know if this works, hope so!

[code]

![](https://i.imgur.com/TjD1RLE.png)

[code]

![](https://i.imgur.com/O2QRrxh.png)

[code]

![](https://i.imgur.com/83

[2019-10-01 06:40] #448 closed

[2019-10-18 07:00] BharatGupta1999 commented on #28
server <- function(input, output) {
    #some recommendation manipulation to derive the values of KPI boxes
    topgre<- max(recommendation$GREScore)
    topcgpa <- max(recommendation$CGPA)
    toptoefl <- max(recommendation$TOEFLScore)

    da<- recommendation  %>%
        filter(recommendation$CGPA>9.0)

    d <- recommendation   %>%
        filter(recommendation$GREScore>320)

    daa <- recomm

[2019-10-26 11:02] Robinlovelace opened #450 "Add code of conduct"
This is worth doing for multiple reasons. Any suggestions @Nowosad / @jannes-m on what a good template would be?

[2019-10-26 11:11] Nowosad commented on #450
How about https://github.com/hadley/adv-r/blob/master/CODE_OF_CONDUCT.md ?

[2019-11-09 06:48] hxd1011 opened #452 "docker file bug in line 44-45"
missing &&\ in line 44, so echo command is not a docker command.

[2019-11-09 11:12] #452 closed

[2019-11-09 11:13] Robinlovelace commented on #452
Well spotted, thanks @hxd1011. If you notice any other issues, please let us know.

[2019-11-14 14:50] Robinlovelace opened #453 "Link to netlify not showing"
I added this to `index.Rmd`:

https://github.com/Robinlovelace/geocompr/blob/3aba4faf178ee0fca60ac7c5dcc28838b1ea51e3/index.Rmd#L252-L255

However, it's still not showing here https://geocompr.robinlovelace.net/ and I'm not sure why. Any ideas @Nowosad or anyone?

Linked to #450

[2019-11-14 15:01] Nowosad commented on #453
You added it to a wrong place. It should be good now - https://github.com/Robinlovelace/geocompr/commit/6e54e399c7ff0f62757d625aac55bfbf6f4493a6.

[2019-11-14 15:02] Nowosad commented on #453
@Robinlovelace Please check after the book is built and close the issue.

[2019-11-14 15:02] Nowosad commented on #450
https://github.com/Robinlovelace/geocompr/commit/91522f015fe5729ca5a10d31c4ba780a2b41d434

[2019-11-14 15:02] #450 closed

[2019-11-14 15:20] Robinlovelace commented on #450
Thanks @Nowosad, fast work!

[2019-11-14 15:22] Robinlovelace commented on #453
![image](https://user-images.githubusercontent.com/1825120/68870259-80bddc00-06f2-11ea-94da-a85cd1016883.png)

Looks great to me. Many thanks Jakub!

[2019-11-14 15:22] #453 closed

[2019-11-28 15:20] Robinlovelace commented on #372
And link to this on the landing page.

[2019-12-07 23:42] Robinlovelace commented on #396
![image](https://user-images.githubusercontent.com/1825120/70381939-30c9e200-194b-11ea-928c-4f874a9d6a52.png)

[2019-12-08 11:14] Robinlovelace commented on #396
![image](https://user-images.githubusercontent.com/1825120/70388587-db71ed00-19ab-11ea-8da1-4b93f599a4c8.png)

[2019-12-08 11:14] Robinlovelace commented on #396
6.125
 VERTICAL
 LISTS PUNCTUATED AS A SENTENCE
In a numbered vertical list that completes a sentence begun in an introductory element and that
consists of phrases or sentences with internal punctuation, semicolons may be used between the
items, and a period should follow the final item. Each item begins with a lowercase letter. A
conjunction (and or or) before the final item is optional. Such lis

[2019-12-10 11:10] #396 closed

[2019-12-11 10:20] Robinlovelace opened #457 "Load times"
Load times on some pages are slooow.

![image](https://user-images.githubusercontent.com/1825120/70613013-de651b80-1bff-11ea-85ca-995d3767054e.png)

[2019-12-11 19:57] Nowosad commented on #457
I've tried to do something with it a few months ago but my html/css/js skills are too weak.
The main issues with adv-map are: .gif files size (especially the us borders animation) and JavaScript execution time (>4s).

[2019-12-11 23:32] Robinlovelace commented on #457
I think that just by compressing the images we can go a long way. I can run gifs through https://ezgif.com/optimize and there are similar tools for png size reduction. Suggested approach unless we find out any automated approaches.

[2019-12-12 06:53] Nowosad commented on #457
I think I've tried that already. But feel free to try it on your own, maybe I've missed something...

(You can test the website performance using Chrome/Chromium Audits - https://www.vojtechruzicka.com/chrome-audit-lighthouse/)

[2020-01-07 10:31] Robinlovelace opened #458 "Docker build fail"
Seems to be related to QGIS so heads-up @jannes-m. See here (I've restarted the build so we may be able to close this issue soon, worth flagging though): https://hub.docker.com/repository/registry-1.docker.io/robinlovelace/geocompr/builds/86d5eb8f-2957-481c-9c22-d4209268ffb8

[2020-01-07 12:16] Robinlovelace commented on #458
Confirmed: it's still failing:

[code]

Any ideas on how to resolve this? Heads-up @Nowosad also.

[2020-01-07 13:44] Robinlovelace commented on #458
Suggestion: make the `min` Dockerfile the default latest one and rename the current latest one as `rqgis`. I suspect only around 10% of users will need QGIS.

[2020-01-08 20:32] jannes-m commented on #458
Ok, I have built the docker image locally by:

[code]
And then I verified that everything is working as expected by running in the RStudio Server session (localhost):

[code]
Hence, everything is working as expected.

Therefore, I think we can just ignore the warning

[code]

[2020-01-09 14:04] Robinlovelace commented on #458
We can, but that would mean that the `geocompr` docker container never updates on dockerhub so think we should try to fix the build. Happy to give it a bash. Would you be happy if the qgis install bit goes in a `qgis` tag @jannes-m ?

[2020-01-09 20:33] jannes-m commented on #458
I don't think that QGIS is the problem. Your error message says: `Unable to correct problems, you have held broken packages`. I don't know how the Docker build is updated on Dockerhub. It seems as if not a fresh install is used. Sometimes a simple `sudo apt-get update` followed by `sudo apt-get upgrade` is enough to fix the problem.

[2020-01-09 20:35] jannes-m commented on #458
But I am fine with a qgis tag. Might be a good idea in any case.

[2020-01-12 16:11] Robinlovelace commented on #458
Heads-up @jannes-m I've moved the qgis build into the geocompr:qgis tagged Dockerfile and am testing the build. Can you try to reproduce the following? Note, it's a modified version of the `qgis` Dockerfile that omits the time-consuming package installation process to fail early. Reproducible example:

[code]

That yields the error message mentioned above in ~1 minute for me.

[2020-01-12 16:14] Robinlovelace commented on #458
Update: this is the error message, any ideas?

[code]

[2020-01-12 16:29] Robinlovelace commented on #458
Testing from bash in the `min` Docker has identified the failing lines I think:

[code]

[2020-01-12 16:32] Robinlovelace commented on #458
And this is the first failing line in the above:

[code]

[2020-01-12 16:36] Robinlovelace commented on #458
Following the QGIS install docs I tried the following:

[code]

[2020-01-12 16:51] Robinlovelace commented on #458
To reproduce this, the following may help (I'm bamboozled!):

[code]

Sure it's possible, I've just looked at this https://gis.stackexchange.com/questions/318738/raspbian-qgis-3-x-install and various other places but it seems like a tricky issue to solve.

[2020-01-12 17:11] Robinlovelace opened #459 "Travis build is failing"
Due to new dependency on `RWeka` it seems:

https://travis-ci.org/Robinlovelace/geocompr/jobs/635999896#L15302

[2020-01-12 17:14] Robinlovelace commented on #459
Heads-up @jannes-m (as it's in c 11) I can also reproduce this locally:

[code]

<sup>Created on 2020-01-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-12 17:15] Robinlovelace commented on #459
This is the culprit:

[code]

[2020-01-12 17:18] Robinlovelace commented on #459
Also depends on package `mda`:

[code]

[2020-01-12 17:34] Robinlovelace commented on #459
Now failing due to this it seems: https://github.com/rstudio/bookdown/issues/15

[2020-01-12 17:35] Robinlovelace commented on #459
https://travis-ci.org/Robinlovelace/geocompr/jobs/636019908#L8250

[2020-01-12 17:50] Robinlovelace opened #460 "Errors with latest versions of GDAL"
Heads-up @Nowosad the build is failing on my desktop with latest versions of packages. Can you try it? I get this error message:

[code]

[2020-01-12 17:55] Robinlovelace commented on #460
Trying to create this image:

![image](https://user-images.githubusercontent.com/1825120/72223267-c79a4780-3564-11ea-9d7e-9644523e349b.png)

[2020-01-12 18:09] Robinlovelace commented on #458
Update, this works on latest version following advice in the advice in the gis stackexchange post above

[code]

[2020-01-13 06:39] #458 closed

[2020-01-13 08:42] Robinlovelace commented on #459
On travis-fix branch creating this book is the last issue:

![image](https://user-images.githubusercontent.com/1825120/72242126-8a739b00-35e0-11ea-8088-ca6c2b113bf4.png)

[2020-01-14 07:18] Robinlovelace commented on #460
Another issue with `st_transform()` with a reproducible example in docker:

[code]

Then in RStudio server on the local host:

[code]

<sup>Created on 2020-01-14 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

Heads-up @edzer and @rsbivand in case this is of use/interest. Next up: try on the dev version of `sf`.

[2020-01-14 07:23] Robinlovelace commented on #460
Good news: it's fixed on the latest version of sf :tada:

[code]

<sup>Created on 2020-01-14 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-01-14 07:34] Robinlovelace commented on #460
But I'm still getting an error (we an infinite loop it seems) when running the second of these lines in `06-reproj.Rmd`:

[code]

Heads-up @mtennekes I think it may be tmap related, as it plots fine with `plot()`:

![image](https://user-images.githubusercontent.com/1825120/72323322-58c20900-36a0-11ea-9b7b-c79f9f9f9d1b.png)

[2020-01-14 07:35] #435 closed

[2020-01-14 07:40] Robinlovelace opened #463 "RQGIS code not working in geocompr:qgis image"
Can you try to reproduce this @jannes-m:

[code]

And then in that container's RStudio Server instance:

[code]

<sup>Created on 2020-01-14 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-01-14 07:42] Robinlovelace commented on #463
The if I allow it to use the default Python install with

[code]

I get

[code]

<sup>Created on 2020-01-14 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

Guess Python install is at fault here...

[2020-01-14 08:00] Robinlovelace commented on #463
Update @jannes-m I forgot about RQGIS 3 which fixes it:

devtools::install_github("jannes-m/RQGIS3")
library(sf)
library(raster)
library(RQGIS3)
set_env(dev = FALSE)
data("incongruent", "aggregating_zones", package = "spData")
incongr_wgs = st_transform(incongruent, 4326)
open_app()

find_algorithms("union", name_only = TRUE)

[2020-01-14 08:03] Robinlovelace commented on #463
Update, I get another unexpected minor error here continuing with RQGIS3:

[code]

But the next line works:

[code]

[2020-01-14 08:04] Robinlovelace commented on #463
Update, this fixes it:

[code]

[2020-01-14 08:05] Robinlovelace commented on #463
But then this fails:

[code]

[2020-01-14 08:06] Robinlovelace commented on #463
Fixed by:

[code]

[2020-01-14 08:06] Robinlovelace commented on #463
I feel a PR brewing...

[2020-01-14 08:12] Robinlovelace commented on #463
Another update, this yields nothing:

[code]

[2020-01-14 08:13] Robinlovelace commented on #463
Complete list of GIS algorithms on that docker image (no SAGA):

find_algorithms()
  [1] "Aspect----------------------------------------------->gdal:aspect"
  [2] "Assign projection------------------------------------>gdal:assignprojection"
  [3] "Buffer vectors--------------------------------------->gdal:buffervectors"
  [4] "Build virtual raster--------------------------------->gdal:buildvirtual

[2020-01-19 11:13] Nowosad commented on #460
I've opened new issue at https://github.com/mtennekes/tmap/issues/387.

[2020-01-19 12:58] jannes-m commented on #463
In fact, I have already started re-writing the R-GIS bridges chapter in a new branch a while ago but then stopped doing so since not all QGIS geoalgorithms I have used in the first edition are also available in QGIS3. At the moment I would rather opt to just take out the RQGIS(3) section in a new edition since there are so many problems with RQGIS3 (RStudio issue on Unix-based systems and starting

[2020-01-19 13:29] Robinlovelace commented on #463
How about we leave it as-is and aim to update the section in time for the second edition of the book? It seems likely that upstream developments in QGIS and RStudio may automatically resolve the issues by then in any case...

[2020-01-19 13:33] Robinlovelace commented on #460
:+1:

[2020-01-20 00:46] SymbolixAU opened #466 "sfheaders"
Do you think a section on [sfheaders](https://github.com/dcooley/sfheaders) is appropriate for the book?

The two main concepts of the package are

1. Easily create `sf` objects from data.frames
2. call all the underlying C++ code from another package

An example of point 1

[code]
And examples of point 2 are on [the website](https://dcooley.github.io/sfheaders/articles/Cpp.html)

cc @dcooley

[2020-01-20 08:07] Nowosad commented on #459
@Robinlovelace there is one minor issue to fix - can you take a look at it:
[code]

[2020-01-20 08:19] #459 closed

[2020-01-20 08:52] Robinlovelace commented on #466
Good thinking @SymbolixAU, the idea being the creation of `sf` objects without all the `sf` dependencies, right? I think it could fit well as a new section 2.2.9: https://geocompr.robinlovelace.net/spatial-class.html#sf

PRs welcome!

[2020-01-20 09:03] dcooley commented on #466
yes, in fact that's the 3rd main concept of the package.

I should get some time after RStudioconf to add something.

[2020-01-22 23:30] jamietsakalos opened #468 "Unable to render Chapter 8"
(1) If it's about content link to the offending link/section

Error in Rscript_render(f, render_args, render_meta) :
  Failed to compile 08-mapping.Rmd

(2) If it's a about code, a reproducible example will help

I have just set up a new computer with Open R and R studio and followed all instructions (https://bookdown.org/robinlovelace/geocompr/), however I run into an error when trying to render

[2020-01-23 07:46] Robinlovelace commented on #468
Hi @jamietsakalos, I'm sorry you're having issues but will close this issue because you have not provided details on what the issue is, such as operating system, R version and what the error message was. If you provide those, in a reproducible example, I'd be happy to help. If you're running Ubuntu I recommend the install instructions here: https://rtask.thinkr.fr/installation-of-r-3-5-on-ubuntu-1

[2020-01-23 07:46] #468 closed

[2020-01-25 13:24] Robinlovelace commented on #460
I see the `tmap` issue was fixed. Can this issue be closed now?

[2020-01-25 13:32] #460 closed

[2020-02-04 00:22] Darrellc199 opened #470 "Chapter 6 compilation fail"
Working on a clean install of RStudio 1.2.5033, with clean install of R 3.6.2 and RTools 3.5, on Windows 10.

Utilizing instructions provided on the https://geocompr.robinlovelace.net/ build of the website, the bookdown compiling seems to function until chapter 6, at which point, the following Error occurs:

Error in data.frame(..., check.names = FALSE) :
  arguments imply differing number of rows

[2020-02-04 13:42] Nowosad commented on #470
To fix this issue you need to use the development version of the tmap package:

[code]

Learn more at https://github.com/mtennekes/tmap/issues/387.

Please reopen the issue if the error still exists.

[2020-02-04 13:42] #470 closed

[2020-02-10 23:06] Robinlovelace opened #472 "Travis failing again..."
Seems to be in relation to `st_crs()`: https://travis-ci.org/Robinlovelace/geocompr/builds/648646404#L5429

[2020-02-11 07:20] Nowosad commented on #472
I will take a look at it sometime this week.

[2020-02-15 14:04] Nowosad commented on #472
https://travis-ci.org/Robinlovelace/geocompr/builds/650824046

[2020-02-15 14:04] #472 closed

[2020-02-15 19:40] Robinlovelace commented on #472
Good fix, thanks @Nowosad, and @mtennekes.

[2020-02-16 12:53] Robinlovelace opened #473 "Add binder section to README"
Probably the simplest way to get started, so worth mentioning before the tricky Docker section (or even before).

[2020-02-16 15:15] Robinlovelace opened #474 "Make master branch protected?"
Ensuring all changes are reviewed and reducing the number of rebuilds on Travis, Docker and Binder. https://help.github.com/en/enterprise/2.16/admin/developer-workflow/configuring-protected-branches-and-required-status-checks

We could also start developing on the `develop` branch, as per this: https://nvie.com/posts/a-successful-git-branching-model/

Thoughts @Nowosad and @jannes-m, sound like a

[2020-02-17 08:10] jannes-m commented on #474
I like the master/develop branch separation.

[2020-02-20 07:48] Nowosad commented on #474
:+1:

[2020-02-20 09:45] Robinlovelace commented on #474
![image](https://user-images.githubusercontent.com/1825120/74921441-afb8ad80-53c5-11ea-99e7-8b22d88af1ff.png)

Done, at least 1 person needs to approve PRs to master now I think.

[2020-02-20 09:45] #474 closed

[2020-02-26 22:31] ThomasG77 opened #475 "link2GI now not available as a CRAN package"
Due to "check problems were not corrected in time" e.g https://cran.r-project.org/web/packages/link2GI/index.html, I was unable to install `link2GI` library on Ubuntu 18.04

The way to solve it partially has been to run

[code]

To compile successfully, before that, I have also needed to install `libudunits2.so` due to below feedback while installing `sf`

When I mentioned partially, it's due to t

[2020-02-27 06:28] Nowosad commented on #475
Hi @ThomasG77 - thanks for the opening this issue.
I have noticed this problem two days ago, but I think that @gisma is working on fixing it (https://github.com/r-spatial/link2GI).

@gisma do you need any help with that?

[2020-02-27 09:11] Robinlovelace commented on #475
Thanks for raising this, great to hear a fix is in the pipeline. Lots of changes at the moment, hopefully things settle down in the coming months.

[2020-02-29 22:49] Robinlovelace commented on #475
`link2gi` seems to be back :tada: https://cran.r-project.org/package=link2GI

Does that fix the issue for you @ThomasG77 ?

[2020-03-01 08:51] ThomasG77 commented on #475
Yes. Thanks for the quick feedback

[2020-03-01 08:51] #475 closed

[2020-03-01 10:11] gisma commented on #475
Even if the issue is closed, apologies for not being available (I lost the laptop :-( and needed to set up a replacement for a while). And thanks for the quick clarification of the situation.

[2020-03-01 12:09] Nowosad commented on #475
Sorry to hear about your lost laptop..
And thanks for the CRAN fix given the circumstances.

[2020-03-14 21:58] Robinlovelace opened #476 "Test build on different versions of GDAL etc"
It would be useful for debugging purposes and reproducibility to rebuild the book regularly against the most recent releases of OSGEO packages GDAL, PROJ and GEOS (are there others?). Two main ways I can think of to do this are:

- On travis versions with +s that it's already what we use and will clearly flag issues
- By shipping more different versions of the geocompr Docker images that use the l

[2020-03-15 08:40] #473 closed

[2020-03-15 08:41] Robinlovelace commented on #457
Closing for now, not a big deal.

[2020-03-15 08:41] #457 closed

[2020-03-15 08:41] Robinlovelace commented on #419
Hi @eblondel do you have any updates on this? Thanks!

[2020-03-15 08:42] Robinlovelace commented on #412
@jannes-m is this issue sorted now?

[2020-03-17 08:54] eblondel commented on #419
Hi @Robinlovelace I've been busy and now even more, but I will get it ASAP. Let me know if there is some deadline for you to get this. Cheers

[2020-03-17 09:13] Robinlovelace commented on #419
No deadline, just checking you still wanted to add something on this. Thanks.

[2020-03-18 00:26] Robinlovelace opened #477 "Bug with latest upstream packages on Ubuntu 19.10"
I'm getting this error message on my new 19.10 set-up

[code]

I'm running:

[code]

<sup>Created on 2020-03-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-03-18 07:01] Nowosad commented on #477
@Robinlovelace I believe this issue is already fixes in the dev version of **tmap**. Please try it and let me know.

[2020-03-18 07:18] Robinlovelace commented on #477
The offending figure and code:
[code]

![image](https://user-images.githubusercontent.com/1825120/76935045-46568c80-68e8-11ea-9b29-74965e3082ed.png)

[2020-03-18 07:22] Robinlovelace commented on #477
With missing geometries removed

![image](https://user-images.githubusercontent.com/1825120/76935575-3ee3b300-68e9-11ea-8f5a-1efbf3f0f067.png)

[2020-03-18 07:23] Robinlovelace commented on #477
As multilinestrings:

![image](https://user-images.githubusercontent.com/1825120/76935613-502cbf80-68e9-11ea-838f-7dafd9332ccc.png)

[2020-03-18 09:43] Robinlovelace opened #479 "Issue in Chapter 13"
[code]

This is because

[code]

returned NULL.

Will switch to

[code]

Heads-up @jannes-m

[2020-03-18 09:55] Robinlovelace commented on #479
This is a duplicate of https://github.com/geocompr/geocompkg/issues/9 I think.

[2020-03-19 22:09] #477 closed

[2020-03-19 22:09] #479 closed

[2020-03-23 07:18] Robinlovelace opened #480 "Travis build is failing"
The build is currently failing because of rgdal install errors. I've tried various things to fix the build over the last few days but without success. Any ideas @Nowosad ?

[2020-03-23 07:20] Nowosad commented on #480
I had seen your attempts, and did not want to interrupt them. I will try to fix it in the next few days - I will keep you updated.

[2020-03-23 07:27] Robinlovelace commented on #480
Many thanks Jakub. Wondered about switching to GH actions but think it's worth getting Travis working... Using `ubuntugis` instead of `ubuntugis-nightly` or dev version of rgdal may solve it.

[2020-03-25 16:15] Nowosad commented on #476
Hi @Robinlovelace,
I think with all of the pieces moving at the moment (PROJ 6+, new sf + rgdal, changes in dplyr...), we need to fix the issues step by step. My thinking right now is:

1. Fixing vignettes in https://github.com/geocompr/geocompkg
2. Adding ghactions to https://github.com/geocompr/geocompkg
3. Fixing issues in https://github.com/Robinlovelace/geocompr/
4. Adding ghactions to https:

[2020-03-25 16:25] Robinlovelace commented on #476
I agree with that breakdown would suggest a different order of priorities:

1. Fixing issues in geocompr build - the latest version worked with recent versions of sf and OSGeo libraries
2. Fixing issues in geocompkg for sure is a priority
3. ghactions should be able to support testing on multiple set-ups

[2020-03-25 17:25] Robinlovelace commented on #480
Update, I now see this error on my desktop with recent packages:

[code]

[2020-03-25 18:21] Nowosad commented on #480
Again, there are many pieces moving at the moment and it is sometimes hard to guess which causes the issue. I can build https://github.com/geocompr/geocompkg on my own computer, but one vignette has troubles on travis (https://travis-ci.org/github/geocompr/geocompkg/builds/666872685?utm_medium=notification&utm_source=github_status)....

I will continue working on this issue.

[2020-03-25 19:11] Nowosad commented on #480
https://github.com/Robinlovelace/geocompr/pull/481/files

[2020-03-26 08:48] Robinlovelace commented on #480
Latest error is related to `col` argument in tmap functions I think:

https://travis-ci.org/github/Robinlovelace/geocompr/jobs/667147886#L2406

[2020-03-26 09:47] Nowosad commented on #480
Green - https://travis-ci.org/github/Robinlovelace/geocompr/builds/667147885

[2020-03-26 10:41] Robinlovelace commented on #480
Interestingly I'm getting this build fail on my desktop now, any ideas @Nowosad ?

[code]

BTW thanks for impressive work fixing the build, less painful that I expected, slightly.

[2020-03-26 17:30] Nowosad commented on #480
Sadly, I need to reopen this issue - it seems that our images had disappeared - https://geocompr.robinlovelace.net/spatial-class.html....

[2020-03-26 20:14] Robinlovelace commented on #480
Woa, well spotted:

![Uploading image.png…]()

[2020-03-26 20:20] Robinlovelace commented on #480
https://github.com/Robinlovelace/geocompr/pull/483

[2020-03-27 09:19] Robinlovelace commented on #480
Seems to have fixed it:

![image](https://user-images.githubusercontent.com/1825120/77740920-fe341a00-700b-11ea-8c68-f8ed382442a3.png)

[2020-03-27 09:19] #480 closed

[2020-03-27 09:20] Nowosad commented on #480
:1st_place_medal:

[2020-03-27 09:22] Robinlovelace commented on #480
One question @Nowosad, shouldn't we be pushing `style.css`? https://travis-ci.org/github/Robinlovelace/geocompr/builds/667604074#L8512

[2020-03-27 09:24] Nowosad commented on #480
Yes, probably we should.

[2020-03-27 13:31] Robinlovelace opened #484 "Incorrect result in C13"
Currently this was the result in c13: https://geocompr.robinlovelace.net/location.html

![image](https://user-images.githubusercontent.com/1825120/77760949-1cf7d800-702f-11ea-988a-d58751ee4fd2.png)

I think this was fixed in the last commit, logging here just in case.

[2020-03-27 13:31] Robinlovelace commented on #484
Fixed in latest version. My bad.

![image](https://user-images.githubusercontent.com/1825120/77761063-53cdee00-702f-11ea-8d38-3a93f441e10e.png)

[2020-03-27 13:31] #484 closed

[2020-04-03 20:34] Robinlovelace opened #485 "Basemap greyed-out in Chapter 8"
See https://geocompr.robinlovelace.net/adv-map.html#interactive-maps

I see this:

![image](https://user-images.githubusercontent.com/1825120/78402651-dc7df880-75f2-11ea-800c-1b5160e6c64a.png)

[2020-04-04 06:38] Nowosad commented on #485
@Robinlovelace I think that some provider tiles does not work well with leaflet. Have you tried to change `addProviderTiles(providers$OpenStreetMap.BlackAndWhite)`?

[2020-04-04 09:53] Nowosad opened #486 "object 'route_osrm' not found"
@Robinlovelace , I've got an email about the issue presented below - can you take a look at it?

[code]

<sup>Created on 2020-04-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-04 12:13] Nowosad commented on #12
@Robinlovelace  - look at https://neocarto.hypotheses.org/9874#en

[2020-04-04 13:10] Robinlovelace commented on #12
Re-opening and removing done things from the checklist. This issue will be a good place to continue discussion and encourage people to say what they want hence re-opening. Previous checklist showing where we got to with the first edition:

## Part I

- [x] A1 Short discussion of PostGIS - see https://geocompr.robinlovelace.net/gis.html#postgis
- [ ] A2 Additional operations on vector data: `st_con

[2020-04-04 18:25] #485 closed

[2020-04-04 18:31] Robinlovelace commented on #486
This is caused by changes in `stplanr`. I will take a look and fix for the latest (or next) version.

[2020-04-04 21:41] Robinlovelace commented on #486
I think #487 fixes the issue. Reprex with updated code in that PR that is ready to merge I think (ready to merge pending review):

[code]

![](https://i.imgur.com/Pml5Gox.png)

<sup>Created on 2020-04-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-04-04 22:11] Robinlovelace opened #488 "CI failing"
https://travis-ci.org/github/Robinlovelace/geocompr/builds/671023475#L7987

Documenting as hard to debug:

[code]

Saving html output from leaflet map will solve the problem, I hope.

[2020-04-04 22:12] Robinlovelace commented on #488
Attempted fix: https://github.com/Robinlovelace/geocompr/commit/4c599d385c86b0d9df61ebfa7392af9063caf670

[2020-04-05 10:17] Robinlovelace commented on #485
Didn't try that one, but the positron one is good.

[2020-04-05 10:46] Nowosad commented on #485
Yep, positron looks good. Thanks @Robinlovelace

[2020-04-08 09:44] #486 closed

[2020-04-10 08:24] Robinlovelace commented on #476
Heads-up @Nowosad after a few successful builds it's failing again :cry:  with the following message:
[code]

Any ideas what's causing that? Seems related to PROJ...

https://travis-ci.org/github/Robinlovelace/geocompr/builds/673174784#L15245

[2020-04-10 08:26] Robinlovelace commented on #476
Just saw this: https://github.com/Robinlovelace/geocompr/pull/490 hopefully that fixes it, perhaps ubuntugis-unstable will ship more recent versions of PROJ in Bionic than Xenial.

[2020-04-10 08:34] Robinlovelace commented on #476
The issue also affects the `geocompkg` build: https://travis-ci.org/github/geocompr/geocompkg/builds/673166325#L9754

Note that it's still building on Xenial despite that change: https://travis-ci.org/github/Robinlovelace/geocompr/jobs/673328829#L19

[2020-04-10 08:36] Robinlovelace commented on #476
Which is surprising when reading this: https://docs.travis-ci.com/user/reference/bionic/

[2020-04-10 09:11] Nowosad commented on #476
Probably this is our answer - https://travis-ci.community/t/bionic-builds-fail-call-xenial-solved/4899/3

[2020-04-10 11:49] Robinlovelace commented on #476
Doesn't seem like much of an answer, more of a question, why doesn't Travis support Bionic distributions for R?

Looking at https://travis-ci.org/github/ropensci/babette/builds/672968306 it looks like the author of that post is still on Xenial in Travis. Any updates on this @richelbilderbeek ? Looks like #491 may save lots of time...

[2020-04-10 11:56] richelbilderbeek commented on #476
@Robinlovelace: if you take a look at the [the config file of that same build](https://travis-ci.org/github/ropensci/babette/builds/672968306/config) you see that the package is on `bionic`:

![screen03](https://user-images.githubusercontent.com/2098230/78989133-ffe4fe00-7b32-11ea-9373-9f336acc26a6.png)

[2020-04-10 12:09] Robinlovelace commented on #476
Thanks @richelbilderbeek but it still says 16.04 in the build log. I see

[code]

Here on line 16 and below, despite the `dist: bionic` line in the config: https://travis-ci.org/github/ropensci/babette/jobs/672968307

[2020-04-10 15:38] Nowosad opened #493 "Move to GH Actions"
I added GitHub Actions to our book. The code was based on our travis file, [GitHub Actions of sf](https://github.com/r-spatial/sf/blob/master/.github/workflows/R-CMD-check-with-db.yaml), and the [ropensci-org/blog-guidance](https://github.com/ropensci-org/blog-guidance/tree/master/.github/workflows) repo. You can learn more about it in the *5. How to deploy a preview of the book for pull requests*

[2020-04-11 08:52] #493 closed

[2020-04-11 08:54] Nowosad commented on #493
https://github.com/Robinlovelace/geocompr/runs/578699757?check_suite_focus=true Awesome!

[2020-04-11 09:01] Robinlovelace commented on #493
The question now: what to do with Travis? I suggest we stop building on Travis and purge the travis set-up stuff. There may be benefits of keeping it but I guess the -s of maintenance time will outweigh the +s of having a backup CI system, GH Actions seems a solid foundation for #476 .

[2020-04-11 09:02] Nowosad commented on #493
Completely agree.

[2020-04-11 22:20] Linlin-Sun opened #497 "Code snippet in 8.2.6. Error in CPL_transform(x, crs, aoi, pipeline, reverse) : OGRCreateCoordinateTransformation() returned NULL: PROJ available?"

[2020-04-12 01:19] Linlin-Sun commented on #497
I got "Error in data.matrix(data) :
  'list' object cannot be coerced to type 'double'" running below line but was able to get round it.

urb_1970_2030 = urban_agglomerations %>%
    filter(year %in% c(1970, 1990, 2010, 2030))

I got "Error in CPL_transform(x, crs, aoi, pipeline, reverse) :
  OGRCreateCoordinateTransformation() returned NULL: PROJ available?" and not sure how to make it work.
Runn

[2020-04-13 06:58] Robinlovelace commented on #476
Heads-up @Nowosad I've made some good progress towards solving this on local tests. I will push them here, which is where we should host Dockerfiles for this project I think: https://github.com/geocompr/docker

[2020-04-13 07:06] Robinlovelace commented on #476
Just add you to the team:

![image](https://user-images.githubusercontent.com/1825120/79100171-b9bfb280-7d5d-11ea-9f65-342d64ff195f.png)

[2020-04-13 08:39] Robinlovelace commented on #497
Thanks for reporting. What operating system are you on and what versions of GDAL, GEOS and PROJ are you running? Those details may help identify the problem. If you can provide a reproducible example that will also help.

You can find out what versions of those libraries you have with the following command:

[code]

<sup>Created on 2020-04-13 by the [reprex package](https://reprex.tidyverse.org) (

[2020-04-13 09:35] Robinlovelace commented on #476
Quick question @Nowosad, does this look like a suitable starting build matrix, with 6 options currently?:

[code]

See here for my latest thinking on this: https://github.com/geocompr/docker#docker

[2020-04-13 16:33] rovisope commented on #497
I have found the same problem, I am working with MacOs Catalina 10.15.4.

When I wrote "library(sf)" I can't see any message below. But running "sf_extSoftVersion()" I can see:
          GEOS           GDAL         proj.4 GDAL_with_GEOS     USE_PROJ_H
       "3.7.2"        "2.4.2"        "5.2.0"        "false"        "false"

I was trying to run the code for the "FIGURE 8.13: Faceted map showing t

[2020-04-13 16:37] rovisope commented on #497
BTW, the following similar code works in my computer:

data(World, metro)

m2 <- tm_shape(World, simplify = 0.5) +
  tm_fill() +
  tm_shape(metro) +
  tm_bubbles(size = paste0("pop", seq(1970, 2030, by=10)),
             col = "purple",
             border.col = "black", border.alpha = .5,
             scale = 2) +
  tm_facets(free.scales.symbol.size = FALSE, nrow=1,ncol=1) +
  tm_format("World",

[2020-04-13 16:54] Robinlovelace commented on #497
Hi @rovisope, thanks for the clarification. I have encountered similar error messages, including on our automated test build system: https://travis-ci.org/github/Robinlovelace/geocompr/jobs/673715672#L6119

Possible solution: try re-installing the `sf` package as follows:

[code]

and if that fails try the development version:

[code]

Let me know how you get on. If it still fails it may be due to

[2020-04-13 16:55] Robinlovelace commented on #497
Also try installing the latest version of `tmap`, that could help...

[2020-04-13 17:10] rovisope commented on #497
Thank you so much @Robinlovelace!

The problem persists after reinstalling sf and tmaps...

I could not install the development version of sf (It says "configure: error: gdal-config not found or not executable.".)

I am new on R and geocomputation... I really do not know how to make compatible PROJ and sf...

[2020-04-13 17:27] Robinlovelace commented on #497
Can you try installing the binary version? I am not sure. I suggest taking a look for similar issues here: https://github.com/r-spatial/sf/search?q=mac+install&type=Issues

Please do not open an issue on the `sf` issue tracker unless you're sure you have found a new issue, you cannot solve the problem using information from previous issues, and you have a very clear reproducible example. @edzer ha

[2020-04-13 17:48] Linlin-Sun commented on #497
Hi, Robin, Thanks for your response.
I got below after following your instruction.

Linking to GEOS 3.6.1, GDAL 2.2.3, PROJ 4.9.3

[2020-04-13 17:53] Robinlovelace commented on #497
Thanks @Linlin-Sun, but what OS are you running?

[2020-04-13 17:55] Linlin-Sun commented on #497
I am on windows 10.

[2020-04-13 17:58] Robinlovelace commented on #497
Have you tried re-installing the `sf` package?

[2020-04-14 08:45] Nowosad commented on #476
Hi @Robinlovelace, **nowosad** was already taken on dockerhub, so I am **jakubnowosad** there - https://hub.docker.com/u/jakubnowosad

[2020-04-14 08:56] Robinlovelace commented on #476
Ah, I'll fix that now. Heads-up, we now have the 10 different variants including default_repos, ubuntugis_stable, ubuntugis_unstable and dev version of dplyr (just added). Unfortunately the DockerHub's build system is very slow so it may take a day or so for all the tests, including 'buildbook' variants for each set-up type, to complete.

[2020-04-14 08:59] Robinlovelace commented on #476
You're in:

![image](https://user-images.githubusercontent.com/1825120/79205987-9583d480-7e36-11ea-865f-edc670334900.png)

[2020-04-14 09:01] Robinlovelace commented on #476
One option is to use these pre-build Docker images as the basis of GH Actions runs:

https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#choosing-a-runner

[2020-04-14 09:03] Nowosad commented on #476
Yep. That would be great.

[2020-04-14 09:09] Nowosad commented on #476
I know we should restrict a number of created docker images (it could become a pain sometime in the future), however, would it be possible to add one new with R 4.0.0 (which should be official in about 10 days..).

[2020-04-14 09:12] Robinlovelace commented on #476
Possible. Suggest we wait for the Rocker team to add support for R 4.0.0 and build from `rockerdev/geospatial:4.0.0` when it is available. Let me know which of the variants you think are most/least important.

[2020-04-14 09:16] Nowosad commented on #476
@Robinlovelace, I do not know is it even possible, but maybe you can answer it - can we somehow derive GDAL, GEOS, and PROJ versions from the docker images?

[2020-04-14 09:21] Robinlovelace opened #498 "Binder fails"
Before yesterday Binder was failing to launch altogether. Now it launches but cannot build the book, as shown here:

![image](https://user-images.githubusercontent.com/1825120/79208206-aaae3280-7e39-11ea-9222-d941858e61bf.png)

[2020-04-14 09:25] Robinlovelace commented on #476
Knowing the Ubuntu version, PPA and time should be enough. The versions on the default repos will change very rarely, if at all, and I think the ubuntugis-stable and ubuntugis-unstable repos have calmed down.

We could also automate checks from inside the containers but that would be a pain. We could get the build logs to print the versions.

But I think just using the images and stating the versi

[2020-04-14 09:33] Robinlovelace commented on #498
We should probably also add the Dockerfile to https://github.com/geocompr/docker although there is a risk of maintenance burden of too many images

[2020-04-14 12:55] Robinlovelace commented on #476
Already generating interesting findings: the book build fails with old OSGeo versions *when sf is not first re-installed* as shown here:

![image](https://user-images.githubusercontent.com/1825120/79227345-a6910d80-7e57-11ea-92d7-68977cff36ba.png)

[2020-04-14 14:51] rovisope commented on #497
Hi @Robinlovelace. Thanks for your support.

I have tried different solutions but I am still stuck. I could install the development session but now I found the following results:

Linking to GEOS 3.7.2, GDAL 2.4.2, PROJ 5.2.0

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, se

[2020-04-14 15:08] edzer commented on #497
Lovely. Looks like PROJ 5.x doesn't accept the wkt produces by PROJ >= 6.x. After resetting the crs with
[code]
your `tmap` stuff works. That, or upgrading your system to PROJ >= 6 and reinstalling sf.

[2020-04-14 15:12] rovisope commented on #497
Great! The code works! Thank you so much!

(BTW, in my terminal appears that I have installed PROJ 7.0.0. but in R is stuck to PROJ 5.2.0. - Just in case...)

[2020-04-14 15:18] Robinlovelace commented on #497
Great to hear it works @rovisope, thanks for this piece of good news (we need it hear in the UK at the moment ; )

I *think* the underlying causes of the issue have been identified. It's clear that the work-around mentioned by Edzer can fix it. One question is whether we should include that fix in the book? I guess not but will leave this issue open for now in case there are others who stumble acr

[2020-04-14 15:30] Robinlovelace opened #500 "The search button on the website doesn't work"
Reproducible example: go to https://geocompr.robinlovelace.net/ and click on the search button:

![image](https://user-images.githubusercontent.com/1825120/79243117-1cec3a80-7e6d-11ea-8d0e-f5bc1fb88579.png)

You should be able to search for things but it doesn't seem to work, tested on Firefox and Chome. Any ideas @Nowosad or anyone?

A strange one, sure it used to work...

[2020-04-14 15:35] Robinlovelace opened #501 "At no point is output showing OSGeo library versions shown"

[2020-04-14 19:50] Robinlovelace commented on #476
Heads-up @Nowosad, good news: it seems the book builds fine on the dev version of `dplyr`, reproducible example shown below:

[code]

[2020-04-15 00:44] EagleGeo opened #503 "Figure 2.5 looks slightly different"
![Figure2 5](https://user-images.githubusercontent.com/42878579/79287077-9c3f3580-7e90-11ea-826c-64e52115273f.PNG)

[2020-04-15 00:50] EagleGeo opened #504 "Figure 2.6 India map was very small"
![Figure2 6](https://user-images.githubusercontent.com/42878579/79287345-7ebe9b80-7e91-11ea-8320-88c4ceb41f56.PNG)

[2020-04-15 06:01] Nowosad commented on #476
Great!

[2020-04-15 06:07] Nowosad commented on #504
@EagleGeo I cannot reproduce this (see below). Have you tried to reset your device with `dev.off()` before?

[code]

![](https://i.imgur.com/R9RBVd9.png)

<sup>Created on 2020-04-15 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-15 06:12] Nowosad commented on #503
Thanks @EagleGeo.

@Robinlovelace I can reproduce this issue with (especially see the US)...

[code]

![](https://i.imgur.com/796eSdO.png)

<sup>Created on 2020-04-15 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

The actual code behind the figure works well:

[code]

![](https://i.imgur.com/WxwirS9.png)

<sup>Created on 2020-04-15 by the [reprex package](https://reprex.tidy

[2020-04-15 09:24] rovisope commented on #497
Thanks to all of you for helping! Lots of energy in these difficult times!

[2020-04-15 09:38] #501 closed

[2020-04-15 10:31] Robinlovelace commented on #497
Have you tried the suggestions above @Linlin-Sun ? I think the issue is resolved. Another option is to use Docker to get recent versions of the software.

[2020-04-15 14:40] EagleGeo opened #505 "error when installing the "geocompkg""
![geocompkg](https://user-images.githubusercontent.com/42878579/79350507-8a4baa00-7f05-11ea-8972-7a1e9c8969b6.PNG)

[2020-04-15 14:43] Nowosad commented on #505
Try:
[code]

[2020-04-15 14:58] EagleGeo commented on #505
Thanks! It worked for the most part and I chose to update all the packages (option 1). I received an error at the end of the updating.
![geocompkg1](https://user-images.githubusercontent.com/42878579/79352460-e3b4d880-7f07-11ea-90ab-5099a51c627e.PNG)

[2020-04-15 14:59] Nowosad commented on #505
Try:
[code]
next, restart R, and try to install it again.

[2020-04-15 15:08] EagleGeo commented on #505
So I did. Then it says that the "glue" package was missing, so I installed the package. Now I received message when updating the packages.
![geocompkg2](https://user-images.githubusercontent.com/42878579/79353655-5a060a80-7f09-11ea-9b5a-0489b4cde6d9.PNG)

[2020-04-15 15:28] Robinlovelace commented on #505
Maybe uninstall and reinstall R? I've seen these recursive package issues on Windows before and they can take ages to resolve. Note: R 4.0.0 will be released in less than 2 weeks so that could be the perfect opportunity for a fresh install.

[2020-04-15 15:31] EagleGeo commented on #505
Thanks, I just installed 3.6.3 this morning. Was using 3.6 before. Will try it again.

[2020-04-15 16:14] EagleGeo commented on #505
I uninstalled all the old R and reinstalled 3.6.3. What I found was that it would fail on the same error, "cannot remove prior installation of package " x".  The difference is the x, for example, it is "fs" this time and "backports" last time.
![geocompkg](https://user-images.githubusercontent.com/42878579/79360920-9722ca80-7f12-11ea-86e1-9e66ad7d336c.PNG)
I guess that I will wait for R 4.00.
Than

[2020-04-15 16:18] Robinlovelace commented on #505
You can completely remove old packages from your system. See here for guidance: https://stackoverflow.com/questions/48773148/addressing-the-cannot-remove-prior-installation-of-package-error-when-updating

[2020-04-15 16:23] Nowosad commented on #505
You can also try to remove all of the packages (http://www.theanalyticslab.nl/how-to-remove-all-user-installed-packages-in-r/) and install them again...

[2020-04-15 19:25] EagleGeo commented on #505
Robinlovelace:

As suggested, I used  setdiff(dir(.libPaths()), .packages(all = TRUE)) to find that I need to install the "fs" package, when installing, I get this error.
![geocompkg](https://user-images.githubusercontent.com/42878579/79379630-2e951700-7f2d-11ea-8a58-a581ffd45aff.PNG)

[2020-04-15 19:35] Robinlovelace commented on #505
You could try this advice: https://community.rstudio.com/t/whenever-i-dowload-any-package-it-says-failed-and-says-unable-to-create-file/21685/11?u=robinlovelace

[2020-04-15 19:44] EagleGeo commented on #505
Somehow the missing package errors were all gone. But I am having a problem with the spDataLarge package.
![geocompkg](https://user-images.githubusercontent.com/42878579/79381416-efb49080-7f2f-11ea-92de-363dcca77d3f.PNG)

[2020-04-15 19:55] Robinlovelace commented on #505
Great to hear @EagleGeo.

Have you read the beginning of this chapter carefully?

https://geocompr.robinlovelace.net/spatial-class.html

You should find the solution there.

[2020-04-15 20:56] EagleGeo commented on #505
Thanks all for your kind help and patience. Now I am good to go.

[2020-04-16 16:21] dhersz opened #506 "Figure 5.22 doesn't show of line and polygon rasterization"
Currently it only shows the California shape over what I suppose is a grid of centroids twice.

![image](https://user-images.githubusercontent.com/1557047/79480772-ef2a0180-7fe4-11ea-903a-3d834c8458ee.png)

[2020-04-16 16:24] Robinlovelace commented on #506
Well spotted. Verified at https://geocompr.robinlovelace.net/geometric-operations.html#fig:vector-rasterization2

[2020-04-16 16:58] dhersz opened #507 "Footnotes are not working"
The issue is not related to a specific chapter, it has been happening since introduction (I haven't read all the book yet, but as far as Chapter 5 no footnotes have worked).

Link to a footnote in introduction, for example, (https://geocompr.robinlovelace.net/intro.html#fn2, second paragraph section 1.1) redirects you to the beginning of the chapter.

The same is true for https://geocompr.robinlov

[2020-04-16 18:20] Darrellc1991 commented on #507
I can confirm that this issue persists in my local html copy built as per the build instructions on the Welcome page - both pre- and post-TRAVIS builds.

[2020-04-16 20:36] Robinlovelace commented on #507
Thanks for reporting, definitely an issue. Will take a look.

[2020-04-16 21:24] Robinlovelace commented on #507
I think it's a bug in bookdown: https://github.com/rstudio/bookdown/issues/840

[2020-04-17 11:09] phungdo opened #508 "Failed to compile 05-geometry-operations.Rmd"
When I compile the book. I seems to I can not compile since chapter 5. Could you take a look of the warning I copy from the terminal.

[2020-04-17 11:34] phungdo commented on #497
Hello Edzer, where should I put those code in?
Sorry for asking such question but I am new to R. Thank you. I can run library(sf) and the command returns

[2020-04-17 12:00] Robinlovelace commented on #497
Thanks for the question @phungdo but you need to provide a reproducible example for us to be able to help.

[2020-04-17 12:02] Robinlovelace commented on #508
It's most likely an issue with the version of `sf` and / or PROJ you have installed. Can you try running it on a Docker container, e.g. as follows?:

[code]

[2020-04-17 12:10] Robinlovelace commented on #476
I think we can almost close this now. One thought: could we set-up a test build of the book on Windows with GH actions? Let me know if you're up for giving this a bash @Nowosad, I suspect many of the recent issues are on Windows...

[2020-04-17 12:33] phungdo commented on #508
I got the **library(sf)** and also PROJ 0.1.6 installed with

I have not tried via Docker.

[2020-04-17 13:18] Robinlovelace commented on #508
We deliberately do not distribute PDF versions

1. Because the book's contents are changing and PDF versions risk spreading out-of-date information, and
2. Although the chapters are free to read online, we want people to [buy physical copies](https://www.amazon.com/Geocomputation-Chapman-Hall-Robin-Lovelace/dp/1138304514/) of the book to make open source book projects like this viable for publishe

[2020-04-17 18:26] dhersz opened #509 "Wrong raster listed on Chapter 6 exercise 3"
The [Chapter 6 exercise](https://geocompr.robinlovelace.net/reproj-geo-data.html#exercises-4) 3 cites `cat_raster` as a continuous raster and asks to transform it using the nearest neighbor interpolation method. However, `cat_raster` is a categorical raster, and is also cited in the following question. I think you meant the `con_raster`, which is continuous and also used as an example in [Section

[2020-04-17 18:32] Robinlovelace commented on #509
Thanks for raising this @dhersz. Are you up for taking a look @Nowosad ?

[2020-04-17 18:45] Robinlovelace opened #511 "Revert 'hotfix' to Figure 5.25 following upstream (tmap) solution"
Currently it shows:

![image](https://user-images.githubusercontent.com/1825120/79603311-026fc680-80e4-11ea-8ace-4358f90658d7.png)

Addressed by #510

[2020-04-17 19:02] dhersz opened #512 "Issue with cat_raster object?"
Right now the [chapter 6 exercise](https://geocompr.github.io/geocompkg/articles/solutions06.html) 4 solution shows the following plot for `cat_raster_wgs84`:

![image](https://user-images.githubusercontent.com/1557047/79603657-266ee000-80c3-11ea-9e9b-c5cb00ee7801.png)

I have also arrived at the same result, but if I run `plot(cat_raster_wgs84)` again (following the same command previously sent)

[2020-04-17 21:03] dhersz opened #513 "Missing GET 'path' argument in Section 7.4"
When showing how to download from WFS services with a `GetFeature` request the following code is presented:

[code]

This throws an error, because the full url is missing the `path` argument that was previously used (`path = endpoint`).

Changing the `GET` line code fixed the problem.

```httr::GET(url = base_url, path = endpoint, query = qf, httr::write_disk(file))```

[2020-04-17 21:06] Robinlovelace commented on #513
Thanks for raising this and other comments, will take a look at this on tomorrow.

[2020-04-18 07:35] jannes-m commented on #511
already fixed the bug, will issue a PR today. Apparently, the latest version of `tmap` can no longer handle categorical rasters.

[2020-04-18 07:58] Robinlovelace commented on #511
Thanks for the quick response @jannes-m, I suspect this could usefully be addressed in the `tmap` package.

[2020-04-18 07:59] Robinlovelace commented on #511
But will happily accept a 'hotfix' that fixes it for now. I think PR #510 represents such a fix and suggest we merge it for now if it does indeed fix the specific issue.

[2020-04-18 08:02] Nowosad commented on #511
@jannes-m there are several changes in the **tmap** version 3. Now it uses **stars** in the background for the raster data, and it has some consequences/limitations. This is one of them.

[2020-04-18 08:08] Robinlovelace commented on #511
Fully agree. Suggest merging this PR and opening a separate issue in `tmap`. Also wanting to encourage PRs from new contributors, especially when they identify and fix issues in one!

[2020-04-18 08:11] Nowosad commented on #511
@Robinlovelace I will investigate this issue today. However, I think it is related to a discussion I already had with Martijn - our previous way of making this figure is no longer valid. There are new ways to do it.

[2020-04-18 08:22] Nowosad commented on #476
@Robinlovelace I would suggest waiting on it until R 4.0 is here.

[2020-04-18 08:24] Nowosad commented on #476
Related: https://github.com/r-spatial/sf/issues/1370#issuecomment-615279618

[2020-04-18 09:10] Nowosad commented on #507
@Robinlovelace I have a suspicion that this bug is related to the broken search button, and most importantly, its source in our book. Just now, I have built the first chapter of our book locally - I have a working search button and footnotes. I am going to work on this issue now.

[2020-04-18 09:37] Nowosad opened #514 "Figure 5.22 is broken"
There should be a raster outline on the maps.

[code]

![](https://i.imgur.com/Mmd2WEb.png)

<sup>Created on 2020-04-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-18 09:38] Nowosad commented on #511
I was wrong. It seems to be a bug in **tmap**. I reported it just now - https://github.com/mtennekes/tmap/issues/417.

[2020-04-18 09:53] Nowosad commented on #513
Thanks a lot @dhersz - I fixed it in soon-to-be ready pull request - https://github.com/Robinlovelace/geocompr/pull/515.

[2020-04-18 10:13] Nowosad commented on #497
I degraded CRS for the `urban_agglomerations` from PROJ7 to PROJ5.
@phungdo try `remotes::install_github("nowosad/spData")` first (before the rest of the code).

[2020-04-18 10:25] Nowosad commented on #504
@EagleGeo please reopen the issue if `dev.off()` is not a fix.

[2020-04-18 10:25] #504 closed

[2020-04-18 10:32] Nowosad commented on #507
@Robinlovelace please check a local build using two versions of `_bookdown.yml:
1.
[code]
2.
[code]

In my case, the second version moves most of the footnotes to the references section (?!).

[2020-04-18 10:36] Robinlovelace commented on #503
On a local version of the book I see this:

![image](https://user-images.githubusercontent.com/1825120/79635332-355b9e00-8168-11ea-958d-2f09656f1b83.png)

But when you run the code it shows this:

![image](https://user-images.githubusercontent.com/1825120/79635361-545a3000-8168-11ea-90f5-7fcdafe58976.png)

That is deliberate. Did you follow the link to the script mentioned in the previous text @Ea

[2020-04-18 10:38] Robinlovelace commented on #507
@Nowosad this is an important issue, thanks for looking into it, I will do the test build now.

[2020-04-18 10:45] Robinlovelace commented on #507
Update, I confirm that in the second version the footnotes are in the references chapter:

![image](https://user-images.githubusercontent.com/1825120/79635670-19f19280-816a-11ea-8734-c83b534bd43b.png)

[2020-04-18 10:49] Nowosad commented on #512
Thanks @dhersz for letting us know. This is a very strange bug. I have opened a new issue about this at https://github.com/rspatial/raster/issues/111.

[2020-04-18 10:51] Nowosad commented on #514
Duplicate of https://github.com/Robinlovelace/geocompr/issues/506.

[2020-04-18 10:51] #514 closed

[2020-04-18 10:52] Nowosad commented on #506
Thanks! I have opened a new issue at https://github.com/mtennekes/tmap/issues/417

[2020-04-18 10:52] #505 closed

[2020-04-18 10:54] Nowosad commented on #497
Closing for now. Free to let us now if the issue is still there.

[2020-04-18 10:54] #497 closed

[2020-04-18 10:55] #513 closed

[2020-04-18 10:59] Nowosad commented on #509
Once more - many thanks @dhersz! It should be fixes with https://github.com/Robinlovelace/geocompr/pull/515/files.

[2020-04-18 10:59] #509 closed

[2020-04-18 11:22] Nowosad commented on #507
Ok, it seems related to https://github.com/rstudio/bookdown/issues/840. If you remove all of new lines in the footnotes - they start to work as expected...

[2020-04-18 11:24] Robinlovelace commented on #507
Yes, only multi-line footnotes. Should we switch to single line footnotes, which should also make them shorter and easier to maintain, or wait for an upstream fix? Thinking the former.

[2020-04-18 11:25] Robinlovelace commented on #507
Yes, only multi-line footnotes. Should we switch to single line footnotes, which should also make them shorter and easier to maintain, or wait for an upstream fix? Thinking the former.

[2020-04-18 11:25] Robinlovelace commented on #513
Great fix @Nowosad, I suggest we close issues when fixed on the website next time though.

[2020-04-18 11:28] Nowosad commented on #507
@Robinlovelace - we can try to do both. Can you improve the footnotes (e.g., change to single lines, remove references in them, make them more concise)? I will report this issue on the bookdown github page.

[2020-04-18 11:30] Nowosad commented on #507
https://github.com/rstudio/bookdown/issues/840#issuecomment-615846696

[2020-04-18 11:37] jannes-m commented on #511
ok, just let me write down my solution here, which deratifies the *grain* raster and which avoids turning a raster object into an **SpatialGridDataFrame** (if this was the hotfix, haven't looked at it admittedly):

[code]

![](https://i.imgur.com/YettkTF.png)

<sup>Created on 2020-04-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-18 11:43] Robinlovelace commented on #511
Hi @jannes-m, great diagnosis. I only saw your comment here, which has a better solution IMO, after merging #510. Happy for this more elegant solution to go in, although it will make virtually no difference to the user and the long term solution is to revert to the original code when **tmap** accepts the raster object directly. Will update the name of the issue accordingly and submit a PR that sho

[2020-04-18 11:45] jannes-m commented on #511
And one other comment which has to do with the distro I use (Arch). Updating my spatial R ecosystem took me almost 3 hours, most of the time is spent on compilation from source. What took me a while to figure out was that I had to install `v8-r` which is a dependency of package **V8**  which in turn is used by **tmap**, **mapdeck**, etc. Before actually installing `v8-r` I had to increase the part

[2020-04-18 11:54] Robinlovelace commented on #511
Very useful info that could be of use for others.

This is a good argument for using distros that have precompiled binaries such as Ubuntu with the set-up outlined here (which we now use in our Dockerfiles) and, I believe Fedora (an article on this may be in the pipeline): https://github.com/rocker-org/rocker/blob/master/r-ubuntu/bionic/Dockerfile#L27-L28

[2020-04-18 13:12] Robinlovelace commented on #498
Update on this, it's now working but I'm looking at updating the docker build process so it's faster. Currently it build all of these form source: Installing 59 packages: bench, cartogram, historydata, kableExtra, kernlab, igraph, latticeExtra, link2GI, mlr, odbc, osmdata, osrm, pool, pROC, ranger, rasterVis, rcartocolor, revgeo, rmapshaper, rgrass7, rnaturalearth, rnaturalearthdata, RPostgres, RQ

[2020-04-18 14:50] Robinlovelace commented on #476
Heads-up @Nowosad I think we can close this now. The `rstudio_devel` version has R 4.0.0 (not yet built on Dockerhub), please take a look and let me know what you think: https://github.com/geocompr/docker#geocomputation-with-r-in-docker

Only remaining task: link to this new report in the Docker section in the README I think...

[2020-04-18 14:52] Robinlovelace commented on #476
It already is for testing and can be built with:

[code]

from the docker repo. But it's probably worth keeping this issue open as a place to store issues/comments associated with this until a week or so after R 4.0.0 is officially released.

[2020-04-18 14:58] #498 closed

[2020-04-18 15:44] Robinlovelace commented on #498
Great news on Binder: we can now build the complete book from inside Binder :tada:

![image](https://user-images.githubusercontent.com/1825120/79642171-e7f52600-8193-11ea-9c85-ae153f7dcc13.png)

[2020-04-18 15:46] Robinlovelace commented on #498
![image](https://user-images.githubusercontent.com/1825120/79642210-14a93d80-8194-11ea-9e71-8f15eb7e5516.png)

[2020-04-18 16:16] Robinlovelace commented on #498
Heads-up @Nowosad I've just re-discovered another issue with Binder: it takes ages to build.

That is an incentive to push infrequently to master: every commit requires the docker image to rebuild.

Good news: if we push to master infrequently the binder instance launches almost instantly.

[2020-04-18 18:27] mattwilliamson13 commented on #508
I am also having this issue (same error, same part of Ch. 5), but on a Mac (Catalina OS). ```sf```, ```gdal```, and ```proj``` were all updated according to the instructions on the ```sf```.  Just alerting you to this in the event that this issue should remain open.

[2020-04-18 18:36] Robinlovelace commented on #508
Thanks for reporting this @mattwilliamson13. Which versions of GDAL, GEOS and PROJ do you have? You could report that by running the following command:

[code]

That generates the following output:

[code]

<sup>Created on 2020-04-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-18 18:41] Robinlovelace commented on #508
Also, could you try running the section that is crashing in the browser with this link: https://mybinder.org/v2/gh/robinlovelace/geocompr/master?urlpath=rstudio

If it runs on one system and not another that could help identify the underlying cause. Another option is to try re-installing spData, spDataLarge and geocompkg. Interested to find out the underlying cause, let us know how you get on.

[2020-04-18 19:07] mattwilliamson13 commented on #508
Hmmm. This is the output (suggesting we are running different versions). I followed the home-brew installation instructions on the ```sf``` webpage, so not sure why my versions are so far behind yours?
library(sf)
#> Linking to GEOS 3.7.2, GDAL 2.4.2, PROJ 5.2.0

[2020-04-18 19:14] Robinlovelace commented on #508
[code]

I think that is the underlying issue @mattwilliamson13. If you try to install the latest versions that may help, but I'm not a Mac user so cannot help, other than to point you to resources such as this: https://github.com/r-spatial/sf/blob/master/.github/workflows/R-CMD-check.yaml#L45

[2020-04-18 19:15] Robinlovelace commented on #508
Seems possible to install more recent versions of PROJ on Mac: https://github.com/r-spatial/sf/runs/594736641?check_suite_focus=true#step:11:80

[2020-04-18 22:06] mattwilliamson13 commented on #508
Ok - the ```binder``` instance works, I'm not quite sure what to do with the link that you sent (they seem to be package checks, but not sure how to make those work locally)

[2020-04-18 22:22] mattwilliamson13 commented on #508
Follow up. Installing the development version of ```sf``` and then running the ```reprex::reprex(library(sf))``` yields the same response as the one you indicated. I then start a new Studio session, switch to the ```geocompr``` project and run
```bookdown::render_book("index.Rmd")```
which returns the following:
[code]

[2020-04-19 06:09] Nowosad commented on #508
@mattwilliamson13, what is your GDAL and PROJ versions?

[2020-04-19 06:36] Nowosad commented on #508
@mattwilliamson13 Please try to update **spDataLarge** and let us know if it works now.
[code]

[2020-04-19 10:07] Nowosad commented on #476
@Robinlovelace have you seen this - https://jozef.io/r922-github-actions-r-packages/. Is it useful here?

[2020-04-19 15:11] mattwilliamson13 commented on #508
GDAL and PROJ are:
[code]

<sup>Created on 2020-04-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-19 15:12] mattwilliamson13 commented on #508
Updated spDataLarge (following the code above). Returned:
[code]

[2020-04-19 15:13] mattwilliamson13 commented on #508
I'm not sure if this is something happening with ```tmap```? It seems to fail at the rendering of ```rast_poly_point```

[2020-04-19 15:25] Nowosad commented on #508
@mattwilliamson13 I have tested this code on PROJ5 and PROJ7 - and it works. I think there is something wrong with your PROJ installation - I do not have this message - `pj_obj_create: Cannot find proj.db`.

[2020-04-19 17:26] Robinlovelace commented on #476
Not seen that, maybe useful...

[2020-04-19 17:55] mattwilliamson13 commented on #508
I reinstalled PROJ using:
```brew install proj```
and then gdal using:
[code]
which returns:
[code]

Is this indicating a problem with the compiler? If so, it may be related to the fact that I also use Stan, which had some issues with the latest upgrade to Catalina (https://github.com/stan-dev/rstan/wiki/Catalina-problems; and https://github.com/stan-dev/rstan/wiki/Installing-RStan-from-source-on-

[2020-04-19 20:16] cderv commented on #507
Hi,

I have made a PR to fix the bookdown issue. This should fix also this issue - multiline footnotes works again. See https://github.com/rstudio/bookdown/pull/876

[2020-04-20 09:37] Robinlovelace commented on #508
Update: I suspect there is an issue with the GDAL/PROJ combination and sf... Trying on Docker.

[2020-04-20 09:43] Robinlovelace opened #519 "Update GIS bridges chapter"
- [x] No longer depend on RQGIS for book build
- [x] Purge RQGIS code from chapter
- [x] ~~Explain how to use `qgis_process` from system~~
- [ ] rgee section
- [ ] `sf::gdal_utils()`
- [ ] More on `gdalUtils` - e.g. with different versions via Docker?
- [x] Something on Whitebox
- [x] ~~Something on Reticulate?~~

https://cran.r-project.org/web/packages/RQGIS/index.html

I've just tried to build t

[2020-04-20 09:51] Robinlovelace commented on #519
Looking for a hotfix in https://github.com/Robinlovelace/geocompr/pull/520

[2020-04-20 09:55] Robinlovelace commented on #519
Update: this is harder than initially anticipated and I'm not sure #520 is the best approach...

[2020-04-20 10:00] Robinlovelace commented on #519
Update: triggering build after https://github.com/geocompr/geocompkg/commit/57e159e059190943d7fb447edd81fb9d8909c079 - hoping that will at least fix the build. Wider issue is how to provide futureproof info on RQGIS. I suggest asking for support with RQGIS3 on the r-spatial discuss repo and in the wider community.

[2020-04-20 12:12] Robinlovelace opened #521 "Issue with tmap plot in Chapter 2"
I see:

[code]

https://github.com/Robinlovelace/geocompr/runs/601364384#step:10:869

[2020-04-20 12:14] Nowosad commented on #521
That a new bug, already reported at https://github.com/mtennekes/tmap/issues/421.

[2020-04-20 13:25] jannes-m commented on #519
I think the easiest solution would be to use `devtools::install_version("RQGIS", version = "1.0.4") `. What also should work is `
install.packages("https://cran.r-project.org/src/contrib/Archive/RQGIS/RQGIS_1.0.4.tar.gz", repos = NULL, type = "source")`

[2020-04-20 13:27] jannes-m commented on #519
With regard to RQGIS3 we can of course ask the community for help. Another solution is to simply drop the RQGIS part from the GIS chapter.

[2020-04-20 13:35] Robinlovelace commented on #519
How about posting something like this on the `r-spatial/discuss` issue tracker:

Is anyone interested in developing RQGIS3? The original package RQGIS has been archived due to updates to QGIS and the original creators of the package lack the time, at present, to take the package further on it's journey towards CRAN.

[2020-04-20 13:36] jannes-m commented on #519
And another suggestion: we use RQGIS in most chapters (aside from the GIS chapter) for attaching data shipped with the package. I suggest to move this data to spData.

[2020-04-20 13:40] jannes-m commented on #519
FYI: I just received a message that QGIS will turn away from SAGA as a processing tool, which means that one would need to use RSAGA anyways to access SAGA algorithms from within R.

[2020-04-20 13:47] Robinlovelace commented on #519
Good plan. I've opened an issue in the spData issue tracker. PRs welcome!

[2020-04-20 15:08] Robinlovelace opened #522 "Show how to make animated map with Covid-19 data"
How can one make an animated map of open data on officially reported deaths from Covid-19 like this?
![covid-19-animated-map](https://user-images.githubusercontent.com/1825120/79768034-1e60ab80-8322-11ea-9c99-9997b588ee57.gif)

[2020-04-20 16:52] Robinlovelace commented on #508
Update: I can reproduce similar errors in C8 on a system with UbuntuGIS stable PROJ/GDAL:

[code]

To get that system:

[code]

[2020-04-20 17:01] Nowosad commented on #508
@Robinlovelace have you tried updating **spDataLarge**?

[code]

[2020-04-20 17:03] Robinlovelace commented on #508
Not yet...

[2020-04-20 17:08] Robinlovelace commented on #508
Trying it now:

[code]

[2020-04-20 17:10] Robinlovelace commented on #508
Interesting that it only affects the UbuntuGIS stable version...

![image](https://user-images.githubusercontent.com/1825120/79779373-3a6c4900-8332-11ea-87f3-8b4875f9f459.png)

[2020-04-20 17:11] Robinlovelace commented on #508
Good news @Nowosad that seems to have fixed it. Meaning that when `spData` is update on CRAN we can close this issue?

[2020-04-20 17:13] Nowosad commented on #508
@Robinlovelace the issue is probably due to GDAL2 and PROJ4/5. `urban_agglomeration` had its CRS created on PROJ7. However, even PROJ5 has a problem with reading it. Two days ago I changed CRS of most objects in spData and spDataLarge to PROJ5. Now, it should work on most of the machines...

[2020-04-20 17:16] Robinlovelace commented on #508
Makes sense. Thanks for navigating the fiddly and potentially frustrating world of PROJ versions and looking forward to the latest version on CRAN. These cryptic error messages are hard to debug.

[2020-04-20 17:17] Robinlovelace commented on #508
My guess: there was a regression in PROJ 5 that has since been fixed. But this is over my head.

[2020-04-20 17:22] Nowosad commented on #508
I can show you the difference.
**PROJ5**:
[code]

**PROJ7**:

[code]

[2020-04-21 00:30] mattwilliamson13 commented on #508
I'm not entirely sure I follow this thread, but I am still unable to successfully render the book locally despite updating all packages (```spData```, ```spDataLarge```). I get:
[code]
when using
[code]

<sup>Created on 2020-04-20 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

So, it appears that I am unable to render successfully under Proj5 or 7.

[2020-04-21 06:11] Nowosad commented on #508
What's your sf version? Also, GDAL2 and PROJ5 is not a good combination. Try to move to GDAL3.

[2020-04-21 06:16] Nowosad commented on #521
It is fixed now - https://github.com/mtennekes/tmap/commit/5781411bd61b20c58184eb1971d3e35153e8958c.

[2020-04-21 08:18] Robinlovelace commented on #508
Fully agree. You can do this with Docker, e.g. as outlined here: https://github.com/geocompr/docker#docker

[2020-04-21 08:20] Robinlovelace commented on #521
Updated with remote: https://github.com/geocompr/geocompkg/commit/feaeceb42903adcdac2aaac14a9ec9753ad72aac

[2020-04-21 08:21] #503 closed

[2020-04-21 08:52] Robinlovelace commented on #521
Update on this @Nowosad it seems there may be a slightly different issue now: https://github.com/Robinlovelace/geocompr/runs/604523588#step:10:868

[2020-04-21 08:59] Nowosad commented on #521
It works locally for me... Maybe it is good to add `remotes::install_github("mtennekes/tmaptools")`?

[2020-04-21 09:01] Robinlovelace commented on #521
Updated here: https://github.com/geocompr/geocompkg/commit/2eb37f8de2413467da8c6faf0fa35a5d5dad8830

[2020-04-22 07:23] Nowosad commented on #488
For some (unknown) reason, the development version of **tmaptools** is not used in ghactions....

[2020-04-22 08:15] Robinlovelace commented on #488
Could just add

[code]

into the actions .yaml file

[2020-04-22 08:17] Nowosad commented on #488
You have a typo in the code above. It should be:
[code]
Can you try it? I am not sure where to put it.

[2020-04-22 08:32] Robinlovelace commented on #488
Sure, will try now.

[2020-04-22 09:35] #488 closed

[2020-04-22 09:37] Robinlovelace commented on #488
:crossed_fingers: @Nowosad are you free to talk briefly?

[2020-04-22 10:13] Nowosad commented on #488
We are back online - https://geocompr.robinlovelace.net/

[2020-04-22 11:50] Nowosad commented on #507
Footnotes are back - https://geocompr.robinlovelace.net/spatial-class.html#fn5. Thank you a lot @cderv !

[2020-04-22 11:50] #507 closed

[2020-04-22 12:32] #521 closed

[2020-04-22 12:33] Nowosad commented on #506
And it should be fine now. Thanks @dhersz for letting us know about the issue.

[2020-04-22 12:33] #506 closed

[2020-04-22 12:34] Nowosad commented on #512
It should be fine now - see https://github.com/rspatial/raster/issues/111.

[2020-04-22 12:34] #512 closed

[2020-04-23 12:15] Nowosad commented on #511
Fixed.

[2020-04-23 12:15] #511 closed

[2020-04-23 12:15] Nowosad commented on #522
Done - https://geocompr.github.io/post/2020/mapping-covid-19/

[2020-04-23 12:15] #522 closed

[2020-04-26 09:30] Nowosad commented on #519
Maybe @paleolimbot could be interested in helping with RQGIS3? (Based on his interest at https://twitter.com/paleolimbot/status/1250827448465448966)

[2020-04-26 17:20] Robinlovelace commented on #519
Very interest, thanks for the link @paleolimbot. Maybe a new package called `qgisprocess` is the way forward, based on the thread in that PR on the QGIS GitHub repo. Thoughts @jannes-m ?

[2020-04-27 19:28] jannes-m commented on #519
Interesting, indeed! Calling QGIS via the command line would e.g. solve the RStudio bug issue since one would no longer need Python.
One could create a new package in the spirit of rgrass7 and RSAGA but one would need to probably start from scratch. And since the cli version is in development presently, it probably needs also time to mature.

[2020-04-27 20:29] dhersz opened #529 "Confusing answer for Chapter 7 Exercise 2"
![image](https://user-images.githubusercontent.com/1557047/80417461-2d100b00-88ac-11ea-9322-bc5d5f8df2cd.png)

[Link](https://geocompr.github.io/geocompkg/articles/solutions07.html) for exercise solutions.

I guess it was meant to be:

`read_sf()` prints outputs and keeps strings as text strings (`st_read()` creates factors).

[2020-04-27 20:39] Robinlovelace commented on #519
Great. I imagine data transfer would have to happen by reading and writing to the tempdir, unless there is another way.

[2020-04-27 20:46] Robinlovelace commented on #529
Thanks for flagging this @dhersz. I think the answer may change with R 4.0.0.

[2020-04-28 18:34] jannes-m commented on #519
Yes, that's how we did in RQGIS.

[2020-04-28 19:05] dhersz opened #530 "Different palette used in Figure 8.5"
In [Figure 8.5](https://geocompr.robinlovelace.net/adv-map.html#static-maps) (I don't know how to link to a section based on an image, sorry) the rightmost map was generated with the `RdBu` palette, not the `BuGn`.

![image](https://user-images.githubusercontent.com/1557047/80526955-02848780-896a-11ea-8b31-7409726bf662.png)

The [code](https://raw.githubusercontent.com/Robinlovelace/geocompr/maste

[2020-04-28 19:48] Robinlovelace commented on #530
Hi @dhersz thanks for raising this, it's not bothering us, it's really useful. Keep them coming!

[2020-04-28 19:54] Nowosad commented on #530
@dhersz https://youtu.be/bLgoqnqJ4DY?t=2461 - my answer is in the next ~20 seconds in this video.

[2020-04-28 20:09] dhersz commented on #530
Cool, I'm glad to know!

[2020-04-28 20:37] dhersz opened #531 "Unable to reproduce Figure 8.13 - issue with st_transform?"
I got an error while tried to reproduce [Figure 8.13](https://geocompr.robinlovelace.net/adv-map.html#fig:urban-facet):

[code]

The error message lead me to believe it was something to do with the proj4string element, so I checked it out.

[code]

I tried to reproject `urb_1970_2030` to see if it would fix the issue, but apparently that's exactly the problem.

[code]

[2020-04-28 21:57] ColinFay commented on #500
Seems to be Github action related.

Got the same issue at https://engineering-shiny.org/ and https://ggplot2-book.org/

[2020-04-28 22:21] dhersz opened #532 "Easy way to make inset maps proportionate located to main map bounding box?"
I tried replicating [Figure 8.14](https://geocompr.robinlovelace.net/adv-map.html#fig:insetmap1), but realized that, since the `x` and `y` arguments passed to `viewport` are relative to the "graphical area" (sorry, I don't know the actual name of it, but the area dedicated to plotting maps on the bottom right corner) of RStudio (which apparently is a viewport itself), I'm not able to reproduce the

[2020-04-29 08:04] Robinlovelace commented on #500
Thanks for the links @ColinFay

[2020-04-29 09:33] Nowosad commented on #531
I cannot reproduce this issue. I think the problem is with either outdated versions of your packages or outdated versions of your system libraries.

1. Try `remotes::install_github("geocompr/geocompkg")`, restart R session and try the code again
2. What is your operating system and GDAL and PROJ versions?

[2020-04-29 09:39] Nowosad commented on #532
@dhersz Thanks for this comment. I am aware of this issue, but do not know the proper solution. After writing this section, I also tried several different approaches to create inset maps, see (1) https://geocompr.github.io/geocompkg/articles/us-map.html, (2) https://nowosad.github.io/post/making-alternative-inset-maps-of-the-usa/, (3) https://github.com/Nowosad/us-map-alternative-layout, and (4) h

[2020-04-29 09:42] #530 closed

[2020-04-29 15:15] dhersz commented on #531
I still get the same error after reinstalling the packages.

Operating system, GDAL and PROJ infos:

[code]

[2020-04-29 15:16] Robinlovelace commented on #531
Heads-up, my colleague @mem48 was having similar issues on Windows. If you find a solution please let us know.

[2020-04-29 20:51] dhersz commented on #532
@Nowosad thanks for the reply. Using the `layout` viewport seems very good, but I found it hard to apply when trying to generate an inset map like the one used in Figure 8.14 (which I mentioned in the original post).

I tried a different approach, which almost led me to what I wanted.
I was able to create and arrange the viewports which I think I'd need, but I couldn't actually plot the maps withi

[2020-04-29 21:21] dhersz commented on #532
@Nowosad thanks for the reply. Using the `layout` viewport argument seems to work for the US and Spain case, but I think it wouldn't work so well when generating Figure 8.14 because you'd have to position the inset map as you positioned the Hawaii map, which is still relative to the main viewport.

I tried another approach and it seems to work. However, the plotting behaviour doesn't seem stable:

[2020-04-30 19:03] dhersz opened #534 "Errors in 08-usboundaries.R"
I got a few errors when trying to replicate [08-usboundaries.R](https://github.com/Robinlovelace/geocompr/blob/master/code/08-usboundaries.R):
(p.s. I excluded lines such as `plot(stuff)` and `sumarry(stuff)` to make the reprex more concise)

[code]

So there is an error in the beginning with the `usbl` object, but apparently it doesn't interfere with the rest.

The second error, related to the `p

[2020-05-01 15:29] dhersz opened #535 "coffeeApp on Figure 8.25 doesn't start"
coffeeApp on [Figure 8.25](https://geocompr.robinlovelace.net/adv-map.html#fig:lifeApp) doesn't start.

![image](https://user-images.githubusercontent.com/1557047/80816994-ef123000-8ba6-11ea-9420-1cff2d51cae9.png)

I ran the [code ](https://github.com/Robinlovelace/geocompr/blob/master/coffeeApp/app.R)in my computer and it worked.

[2020-05-01 15:39] Robinlovelace commented on #535
What environment are you running the crashing code on? I don't think this is an issue if the code runs OK locally so closing for now, but if you spot an issue with the book let us know.

In summary, I think this is an issue with your set-up not the contents of the book but happy to re-visit if there are issues with the code.

[2020-05-01 15:41] Nowosad commented on #535
@Robinlovelace visit Chapter 8 - https://geocompr.robinlovelace.net/adv-map.html#fig:lifeApp. The issue related to the book online version.

[2020-05-01 16:05] Robinlovelace commented on #535
Aha yes that's quite an issue, was looking at the wrong figure.

[2020-05-02 16:54] Robinlovelace commented on #535
Looking at this now :beers:

[2020-05-02 18:28] #535 closed

[2020-05-02 18:31] Robinlovelace commented on #535
Please check the latest version after the next build (hopefully the build is fixed). One issue, the app should have 2 columns of UI but I see this. Do others see this?:

![image](https://user-images.githubusercontent.com/1825120/80872692-72b54500-8cab-11ea-8880-2b5159cd31c8.png)

[2020-05-02 19:45] willet713 opened #536 "cannot replicate figure 2.3 from Geocomputation with R"
Hi,  I just installed the most recent version of R, 4.0.0 for Windows, yesterday (May 1), and installed and loaded the packages "sf" and "spData". I am trying to learn R's capabilities for geocomputing so I am reading Chapter 2 of Geocomputation with R. Although I can reproduce the output from the command

names(world)

I get an error message when trying

plot(world)

and the output from

summary(

[2020-05-02 19:55] Robinlovelace commented on #536
Hi @willet713 have you loaded the `sf` package with the `library()` function before trying to plot the `world` object? I think that will fix it, as shown below.

[code]

![](https://i.imgur.com/srcFPLT.png)

<sup>Created on 2020-05-02 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-02 19:55] #536 closed

[2020-05-02 20:34] Robinlovelace commented on #534
I could reproduce the errors you mentioned @dhersz. Good news, the commit above fixes them for me, so closing for now. This it the result I got with the updated code:

![image](https://user-images.githubusercontent.com/1825120/80891561-b6647a80-8cbc-11ea-8e76-3031a97b852d.png)

Try running the updated code and let me know how you get on:
https://github.com/Robinlovelace/geocompr/blob/master/code/0

[2020-05-02 20:34] #534 closed

[2020-05-02 20:39] Robinlovelace commented on #531
As mentioned in https://github.com/r-spatial/sf/issues/1386 the following line of code should fix the issue. Let us know if it does @dhersz:

[code]

[2020-05-02 20:45] Robinlovelace commented on #534
<blockquote class="imgur-embed-pub" lang="en" data-id="a/FRQiT7V"  ><a href="//imgur.com/a/FRQiT7V">State formation in the USA from Geocomputation with R book</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

You can get different results by changing the width argument.

[2020-05-03 13:22] Robinlovelace commented on #531
Closing because I think it's a duplicate of https://github.com/Robinlovelace/geocompr/issues/508

Let us know how you get on @dhersz, happy for this to be re-opened if you think it's an issue with the book and not an issue with set-up that should be solved in future releases of `sf`.

[2020-05-03 13:22] #531 closed

[2020-05-03 13:27] Robinlovelace commented on #443
Closing for now as we have updated the .Rmd setting for RStudio preview. Any other preferences to change? Worth opening as a new issue.

[2020-05-03 13:27] #443 closed

[2020-05-03 13:31] Robinlovelace commented on #508
Any update with this @phungdo? I think we can close the issue on the basis that this issue only affects certain operating systems and there is nothing that I can see immediately that we can change in the book to fix it. I think updating `sf` when the next version ships with GDAL 3.x will fix it as per https://github.com/r-spatial/sf/issues/1386#issuecomment-622792042 so closing for now. Happy to r

[2020-05-03 13:31] #508 closed

[2020-05-03 13:40] phungdo commented on #508
Hi @Robinlovelace,
Thank you for mentioning me. The way of studying the online book is a better option for me. Therefore, I don't try to compile the book for offline using. If I have any problems I will make a ticket.

[2020-05-04 13:27] Nowosad commented on #532
Great work @dhersz! I run the code several times, and get the map each time without any issues... It is hard to tell what is the source of your issue (operating system (and its graphic device)?, R version?, R packages versions?). I do not know...

[code]

![](https://i.imgur.com/QsrsY8u.png)

<sup>Created on 2020-05-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-04 13:48] dhersz commented on #535
I see two columns both when running locally and when visiting https://shiny.robinlovelace.net/coffeeApp/.

![image](https://user-images.githubusercontent.com/1557047/80972592-af408800-8df4-11ea-90c4-b3977f375b6f.png)

[2020-05-04 13:50] dhersz commented on #534
Runs smoothly!

[2020-05-04 14:00] dhersz commented on #532
Glad to know it works. Not sure the source of the issue either, it seems to be related to RStudio. If I refresh the plot or zoom it the expected result shows up.

Another small detail in this code is that if you want to ensure that the inset map offsets the main one by 0.5 cm (or whatever you have set) you'd need to add `tm_layout(outer.margins = 0)` to both `nz_height_map` and `nz_map`. Probably

[2020-05-04 14:58] dhersz commented on #534
@Robinlovelace I'm getting exactly the same error message when trying to reproduce [Chapter 8 Exercise 6, second part](https://geocompr.github.io/geocompkg/articles/solutions08.html). The following code:

[code]

If I simply print `m` I get the desired output, a bunch of plots, each one with a single Eastern African country. But when trying to save it as gif I get the error. Note that the code rel

[2020-05-04 15:19] Robinlovelace commented on #534
Thanks for the heads-up @dhersz :+1: Could you put in a small Pull Request to make that change?

[2020-05-04 15:40] Robinlovelace opened #537 "Section on where to ask questions"
A section on where to ask questions. Basically the contents of this in prose and with a section, I can imagine linking to it many times for people who ask me minor questions that they could better ask in other places: https://nowosad.github.io/whyr_webinar004/#45

[2020-05-04 17:16] marcelocarvalhoalves opened #538 "plot time in gpx data using sf"
Dear Robin,
I am trying to read gpx data using sf as you did in this example:
https://geocompr.github.io/geocompkg/articles/gps-tracks.html

The map with time data is not loading into map with color points, but only track_fid, track_seg_id, track_seg_point_id and ele . Do you know if this is a problem with time data configuration or some package to load?

The code I am trying is:

Linking to GEOS

[2020-05-08 11:03] marcelocarvalhoalves commented on #538
The problem was solved by updating the sf.

[2020-05-08 11:03] #538 closed

[2020-05-08 12:09] Robinlovelace commented on #538
Hi @marcelocarvalhoalves, thanks for reporting this and closing the issue. Next time you open an issue on GitHub, here or elsewhere, it helps to provide a reproducible example. Uploading a small part of your data can help others explore the problem and help with debugging quickly.

[2020-05-10 19:32] Robinlovelace opened #539 "Add sentence on and links to resources about common mistakes in maps"
- [ ] Link to this guide: https://www.tandf.co.uk//journals/authors/style/TJOM-suppmaterial-quick-guide.pdf
- [ ] Mention issue with using choropleth maps to show count data, as flagged by @mtennekes
- [ ] Issues that specifically plague R maps?

[2020-05-19 19:50] Jonkman1 opened #540 "Error in sf-tidyverse combination"
Dear all

I tried to rerun Robins script on Covid19 of 23 april 2020. It gave some errors. When I tried older scripts (which ran well before) gave the same erros messages (see my reproducable file). What is going on here, can someone help. Thanks, big best, -Harrie
[](url)

[Lovelace.Rmd.zip](https://github.com/Robinlovelace/geocompr/files/4652771/Lovelace.Rmd.zip)
lace.Rmd.zip]

[2020-05-20 07:59] Robinlovelace commented on #540
Hi @Jonkman1 can you be more specific? Would help if you can show what system setup you have, e.g. by typing `sessionInfo()`. I get a result like this:

[code]

<sup>Created on 2020-05-20 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Please also show the specific lines of code that were failing and what you expected. In short, please provide a reproducible example of the ty

[2020-05-22 18:43] Jonkman1 commented on #540
Thanks, Robin. I updated everything (system and packages) and it worked. Thanks, big best, -Harrie

[2020-05-23 05:48] #540 closed

[2020-06-09 13:05] ALanguillaume opened #541 "sp 1.4.-2 warning proj4string(x) using raster::extract in 5.4.2"
When updating to sp 1.4-2 expect a new warning upon calling raster::extract() in section 5.4.2

Working on the Rstudio server provided by binder:

[code]
[code]
The last line will yield:

[code]
Reinstalling sp version 1.4-1 mutes the warning.

[code]
and thanks guys for all the great work !

[2020-06-09 14:22] Robinlovelace commented on #541
Thank you for reporting. We'll take a look. I imagine it's just a case of resetting the CRS component of the `zion` object, right @Nowosad ?

[2020-06-10 07:00] ALanguillaume commented on #541
If of any help here is the warning traceback, after converting warnings to errors `options(warn = 2)` :

[code]
Calling directly ` proj4string(srtm)` does not throw any warning:
[code]

[2020-06-13 09:57] Robinlovelace opened #543 "Build is failing"
With the following [error message](https://github.com/Robinlovelace/geocompr/runs/765925943#step:10:3598)

[code]

[2020-06-13 10:05] Robinlovelace commented on #543
I cannot reproduce this on my computer with the following set-up:

[code]

<sup>Created on 2020-06-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-06-13 11:50] Robinlovelace opened #546 "Reduce dependencies needed to build book"
With 50+ dependencies, some of which are used only in one chapter in code chunks that do not run, I think there is an incentive to move some of the `Imports` listed here to `Suggests`, to reduce build times: https://github.com/geocompr/geocompkg/blob/master/DESCRIPTION

[2020-06-13 15:53] Robinlovelace commented on #543
Update: on latest version the build is also failing on C11:

https://github.com/Robinlovelace/geocompr/runs/768262186#step:11:6973

[2020-06-13 16:29] Nowosad commented on #543
Thanks for working on it @Robinlovelace.
Let me know if the issue is still there and I can take a look at it in the next few days.

[2020-06-13 16:48] Robinlovelace commented on #543
No problem, will be great to have it building again.

Broad diagnosis, these code chunks were failing:

https://github.com/Robinlovelace/geocompr/blob/f67665c5486850f0414b8dfa00c725dba7b6716f/05-geometry-operations.Rmd#L1179-L1190

 `tmap` code chunks that were failing:

``

[2020-06-13 16:50] Robinlovelace commented on #543
This was also causing errors on GH Actions, which I plan to replace by just including the pre-saved graphics:

https://github.com/Robinlovelace/geocompr/blob/f67665c5486850f0414b8dfa00c725dba7b6716f/11-spatial-cv.Rmd#L125-L137

[2020-06-13 16:54] Robinlovelace commented on #543
Even more broadly, loads of of the code in c11 and c14 seems tricky to maintain so I plan to comment-out even more of the code chunks in those chapters. `mlr` has be superseded by `mlr3`. Not sure how best to proceed but commenting out failing lines of code is my proposed 'hotfix' solution for now. Heads-up @jannes-m, I suggest we discuss options for a future-proof solution.

[2020-06-13 17:06] Robinlovelace commented on #546
One question for @Nowosad, any idea why GH actions is still spending ages installing mapdeck and other unnused packages, even after I demoted them to Suggests here https://github.com/geocompr/geocompkg/pull/16/files ?

On https://github.com/Robinlovelace/geocompr/pull/549 there is this:

[code]

But mapdeck and friends are still being installed, pushing build times to over an hour!:

https://githu

[2020-06-13 17:22] Robinlovelace commented on #546
Update: I think the above commit is the answer and hopefully the solution.

[2020-06-13 18:20] Robinlovelace commented on #546
Still seems to insist on installing mapdeck: https://github.com/Robinlovelace/geocompr/runs/768582519#step:10:256

[2020-06-13 18:40] Robinlovelace commented on #546
OK just realised: `tmap` itself indirectly depends on mapdeck, plus it's a useful package. Removing pROC and mlr and a few others will be worthwhile though. `tmap` depends on `leafem` which in turn depends on `mapdeck` it seems: https://cran.r-project.org/web/packages/leafem/index.html

[2020-06-13 19:26] jannes-m commented on #543
I think in the long run, we should use mlr3, however, mlr3 is still maturing, and mlr is still actively maintained. But yes, we should discuss how to proceed.

[2020-06-15 05:34] Robinlovelace commented on #543
Latest issue is about tmaptools version:

https://github.com/Robinlovelace/geocompr/runs/770648075#step:9:869

[2020-06-15 06:02] Robinlovelace commented on #546
Closing for now as it's done. However, the book still has loads of dependencies including mapdeck, surprisingly indirectly required by tmap, and there is an unmerged pr in the geocompkg repo. Can you take a look @Nowosad ? I have been a bit brutal in removing dependencies and setting `eval=FALSE` in C9 C11 and C14. Apologies @jannes-m . I hope to get more (if not all) chunks evaluating in those ch

[2020-06-15 06:02] #543 closed

[2020-06-15 06:10] Robinlovelace commented on #519
In the short term I think we can close this issue from the perspective of the book by moving the data packaged in RQGIS into spDataLarge. Are you up for giving that a go @jannes-m ? I the longer term the CLI interface and 'shout out' to ask for support with this options looks promising but that can be for a separate issue.

[2020-06-18 21:25] jannes-m commented on #519
Sorry for the late reply! Sure, I can do that, hopefully within the next week. I am on parental leave right now and on the road with the family 😊

[2020-06-19 08:12] Nowosad commented on #546
@Robinlovelace there are two PR in the geocompkg repo. Which is the good one?

[2020-06-19 08:33] Robinlovelace commented on #546
Good point, only one good PR now. The `purge-deps` branch was just a test.

[2020-06-19 08:35] Robinlovelace commented on #546
And as a related point think about dependencies led to this: https://github.com/r-spatial/leafem/pull/21

[2020-06-19 10:04] Robinlovelace commented on #519
Fantastic, thanks for the update @jannes-m, enjoy the parental leave!

[2020-06-19 12:14] Nowosad commented on #546
Neat

[2020-06-19 12:26] Nowosad commented on #541
Hi @ALanguillaume - I cannot reproduce this issue on two computers: Fedora with sp 1.4-2 and (1) R 3.6, GEOS 3.7.1, GDAL 2.3.2, PROJ 5.2.0 and (2) R 4.0, GEOS 3.8.1, GDAL 3.0.4, PROJ 6.3.2.

What is your R version? raster version? Operating system? PROJ and GDAL versions?

[2020-06-19 12:39] Nowosad commented on #546
@Robinlovelace please look at https://github.com/Robinlovelace/geocompr/runs/788038868?check_suite_focus=true - "Failed with error:  'there is no package called 'data.table''"

[2020-06-19 12:43] Robinlovelace commented on #546
This is the error I see:

[code]

[2020-06-19 12:43] Robinlovelace commented on #546
https://github.com/Robinlovelace/geocompr/runs/788038868?check_suite_focus=true#step:10:7706

[2020-06-19 12:44] Robinlovelace commented on #546
Correction, I see what you mean now: https://github.com/Robinlovelace/geocompr/runs/788038868?check_suite_focus=true#step:10:7694

[2020-06-19 12:55] Robinlovelace commented on #546
I realise now: just adding `quietly = TRUE` fixes it. That is strange!

https://github.com/ropensci/stplanr/issues/408

[2020-06-19 12:56] Robinlovelace commented on #546
Will submit to CRAN asap.

[2020-06-19 15:46] ALanguillaume commented on #541
Hi @Nowosad
My local machine: Windows 10, R 4.0, GEOS 3.8.0, GDAL 3.0.4, PROJ 6.3.1, raster 3.1-5, sp 1.4-2, sf 0.9-3, rgdal 1.5-10.
I did not mention that before because the same happen on the geocompr mybinder, which now is Ubuntu 20.04 , R 4.0,  GEOS 3.8.0, GDAL 3.0.4, PROJ 6.3.1, raster 3.1-5, sp 1.4-2, sf 0.9-4, rgdal 1.5-10.

Note that on both systems reinstalling sp 1.4-1, will suppress the

[2020-06-19 15:49] Nowosad commented on #541
Can you try to use the development version of raster (I have raster 3.3-3)? I think there was a recent change in raster related to CRSs.

[2020-06-22 07:32] ALanguillaume commented on #541
Okay, the new dev version of raster did silence the warning. Thanks guys. Closing here.

[2020-06-22 07:32] #541 closed

[2020-06-22 07:56] mbernasocchi commented on #519
SAGA was never _the_ processing tool. QGIS processing framework merely allows using SAGA as one of the backends (like QGIS native algs, grass, OTB, ...).

The new `qgis_process` which was added in 3.14 (referenced above) is indeed a standalone tool that allow executing QGIS processing  models and algorithms without starting QGIS (desktop)
Cheers

[2020-06-22 08:21] Robinlovelace commented on #519
Thanks @mbernasocchi, any ideas how much work that would be to wrap `qgis_process` from within R? RQGIS3 could be the perfect home for such functionality I guess.

[2020-06-23 06:33] Robinlovelace commented on #546
Heads-up @Nowosad: **stplanr** 0.6.1 is now on CRAN and the dependency on **data.table** should have been removed.

[2020-06-23 08:28] Robinlovelace opened #555 "Build unreliable due to intermitent OSRM test server"
As reported in #546 and shown most recently here: https://github.com/Robinlovelace/geocompr/runs/798193772#step:10:7686

The test server used is not reliable so will save the results.

[2020-06-23 08:29] #555 closed

[2020-06-23 08:32] Robinlovelace opened #556 "Error message on dev version of tmap"
When building the book locally with the development version of **tmap** installed I get this error message:

[code]

I'm not sure that this is an issue with **tmap** or even if it will cause the CI build to fail, but seems like a raster visualisation issue to me. Are you up for taking a look @Nowosad ?

[2020-06-23 08:52] Robinlovelace commented on #546
Fixed, finally!

[2020-06-23 08:52] #546 closed

[2020-06-23 13:19] Nowosad commented on #556
I am checking it right now.

[2020-06-23 13:39] Nowosad commented on #556
I think we were using a temporary code there. I will fix that in a few minutes and will create a new PR.

[2020-06-23 13:41] Nowosad commented on #556
https://github.com/Robinlovelace/geocompr/pull/557

[2020-06-23 13:44] Robinlovelace commented on #556
:+1:

[2020-06-23 14:07] Robinlovelace opened #558 "Binder seems to be failing"
Not sure why but this isn't working for me atm: https://mybinder.org/v2/gh/robinlovelace/geocompr/master?urlpath=rstudio

[2020-06-23 14:07] #556 closed

[2020-06-23 16:12] Robinlovelace commented on #558
It is working, just took ages to build the docker images it seems.

![image](https://user-images.githubusercontent.com/1825120/85428124-a5c1d980-b574-11ea-8159-85127445924f.png)

[2020-06-23 16:12] #558 closed

[2020-07-02 16:45] Robinlovelace opened #560 "Section on 3d visualisation"
With an example of using `rayshader`, especially now it supports `sf` objects: https://github.com/tylermorganwall/rayshader/commit/900628d5b4f52505d2f4fcc018b2cb48fdc9e9ac

Heads-up @tylermorganwall it will be great to get a new section on this in the mapping chapter: https://geocompr.robinlovelace.net/adv-map.html

[2020-07-08 09:38] Nowosad commented on #476
Another useful blog post - https://medium.com/@skyetetra/r-docker-faster-28e13a6d241d

[2020-07-08 10:10] Robinlovelace commented on #476
Very good to see this. I wonder to what extent we should do testing in the geocompr/docker repo and to what extent we should use GH Actions. One issue I have is that I cannot figure out how to build the book inside a Docker container with GH actions, although the previous post from jozef.io provides a pretty clear indication. Seems that just by adding

[code]

For example we can massively reduce b

[2020-07-11 09:05] jpvillanuevac opened #561 "Animated map - keeping data in the map"
First, thank you for this book. It is a fantastic resource.

I have a question/suggestion regarding [animated maps](https://geocompr.robinlovelace.net/adv-map.html#animated-maps)

Imagine I have lat/long for new cases of disease Z detected in cityX on different dates.  If I want to create an animated map that shows the location of these cases in cityX, I can use the following code:

[code]
and the

[2020-07-13 08:32] Robinlovelace commented on #561
Hi @jpvillanuevac thanks for the question but it seems more like a general question about the `tmap` package rather than a question about the contents of or suggestions for the book (although I note your suggestion to add more examples of animated maps) so closing for now.

Can you provide a reproducible example? Because this is more a question about how you use the package than an issue with the

[2020-07-13 08:32] #561 closed

[2020-07-24 14:21] Robinlovelace opened #564 "Build is failing"
Not had a chance to investigate but should get a chance next week. Any ideas @Nowosad ?

[2020-07-24 14:55] Nowosad commented on #564
I will take a look at it sometime during the weekend,

[2020-07-25 07:37] Robinlovelace commented on #564
Looks like a CRS issue in a tmap plot https://github.com/Robinlovelace/geocompr/runs/906426034?check_suite_focus=true#step:10:861

[code]

[2020-07-25 08:05] Robinlovelace commented on #564
![image](https://user-images.githubusercontent.com/1825120/88452351-e3f13800-ce55-11ea-9d6f-540e15809513.png)

[2020-07-25 08:15] Robinlovelace commented on #564
One for the `tmap` issue tracker?

[2020-07-26 13:07] Nowosad commented on #564
Maybe... firstly, it would be good to reproduce this error...

[2020-07-26 13:20] Nowosad commented on #564
I cannot...
@mtennekes do you have any idea why this kind of error could occur?

[2020-07-27 08:37] Robinlovelace commented on #564
Additional issue: it still relied on `RQGIS`. Fixed by replacing all instances as follows:

[code]

[2020-07-27 08:45] Robinlovelace commented on #564
https://github.com/Robinlovelace/geocompr/pull/565/commits/b2b8e5db61e310296581530cba7be3df4a45c189

[2020-07-27 15:16] Robinlovelace commented on #564
Finally sorted :tada: This is still and issue though:

https://github.com/Robinlovelace/geocompr/issues/564#issuecomment-663823526

[2020-07-27 16:08] Robinlovelace commented on #564
?

[2020-07-27 16:12] Nowosad commented on #564
We still need to fix https://github.com/Robinlovelace/geocompr/issues/564#issuecomment-663823526. - I am keeping it open until we have it fixed.

[2020-07-27 16:16] Robinlovelace commented on #564
That's a separate issue. I suggest either renaming this issue or, IMO better, open a separate issue related to the `tmap` issue. This may not be the best place to raise that issue though if we can create a minimal reproducible example, it seems like a `tmap` or maybe even `sf`/`PROJ` issue to me...

[2020-07-27 16:17] Nowosad opened #566 "Looks like a CRS issue in a tmap plot"
Looks like a CRS issue in a tmap plot https://github.com/Robinlovelace/geocompr/runs/906426034?check_suite_focus=true#step:10:861

[code]

_Originally posted by @Robinlovelace in https://github.com/Robinlovelace/geocompr/issues/564#issuecomment-663823526_

[2020-07-27 16:17] Nowosad commented on #564
https://github.com/Robinlovelace/geocompr/issues/566

[2020-07-27 16:17] #564 closed

[2020-07-27 20:41] mtennekes commented on #566
You probably don't have a reproducible example?

`st_lwgeom_transform` is used in `tmaptools` in a few functions as fallback for when `st_transform` breaks. Not sure if it is needed anymore. I can remove them, but without reproducible example it is hard to test.

[2020-07-28 09:33] Nowosad commented on #566
The code that fails in the github action is attached below - however, it works on my computer - I cannot reproduce this issue...

[code]

![](https://i.imgur.com/dBE6PjW.png)

<sup>Created on 2020-07-28 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-28 09:44] Robinlovelace commented on #566
Strange, I also cannot reproduce the issue on the geocompr/geocompr Docker image that has:

[code]

[code]

[2020-07-28 09:46] Robinlovelace commented on #566
I think we used the dev version of sf in the CI, could that cause issues?

[2020-07-28 09:59] Nowosad commented on #566
Cool cool cool @Robinlovelace ! You are on point here. I just install the dev version of sf and....:

[code]

![](https://i.imgur.com/zRi1Cib.png)

<sup>Created on 2020-07-28 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-30 11:14] Robinlovelace opened #567 "Port Maching Learning Chapter to mlr3"
`mlr` will be deprecated so worth updating as the spatial capabilities evolve.

[2020-08-05 17:36] Nowosad commented on #566
@mtennekes should I open a new **tmap** issue?

[2020-08-12 08:48] Robinlovelace commented on #560
Should also reference to this: https://cesium.com/

And work on the horizon by @SymbolixAU.

[2020-09-13 08:37] Nowosad commented on #566
It works now.

[code]

![](https://i.imgur.com/9EkqXdt.png)

<sup>Created on 2020-09-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-09-13 08:37] #566 closed

[2020-09-18 11:10] Robinlovelace opened #569 "Some contributors missing"
As reported here: https://github.com/Robinlovelace/geocompr/commit/50520552c0314c98cc123e5a665c0fd09d5e7676#r42425700

I can reproduce the issue as follows by running this code from

[code]

[code]

<sup>Created on 2020-09-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Any ideas @Nowosad ?

[2020-09-19 21:31] Robinlovelace commented on #500
Fixed, as shown here:

![Peek 2020-09-19 22-31](https://user-images.githubusercontent.com/1825120/93689580-d65bd580-fac7-11ea-86a5-33644c7d5707.gif)

[2020-09-19 21:31] #500 closed

[2020-09-20 08:33] Nowosad commented on #569
Strange, there are 27 contributors in the list above (+our accounts: 30), but there are 46 contributor based on the github website...

![image](https://user-images.githubusercontent.com/3457131/93707186-a4c92580-fb2c-11ea-877b-9a90fd0e8f6c.png)

[2020-09-20 08:36] Nowosad commented on #569
Ok, I found the issue. The `.limit` argument needs to be specified:

[code]

[2020-09-20 08:41] Robinlovelace opened #570 "Issues with Binder"
https://github.com/rocker-org/binder/issues/42#issuecomment-695664168

[2020-09-20 08:50] Robinlovelace commented on #569
I'm planning to update a few things this morning, this can be one of them. Great find @Nowosad!

[2020-09-20 09:09] #569 closed

[2020-09-21 21:47] mps9506 opened #571 "github actions tibble rendering"
Hi,

I noticed in the rendered book, that tibbles and sf data frames are rendered with some encodings that don't render properly in the code chunks. For example, see section 2.2.1:
[code]

I believe adding `crayon.enabled = NULL` to https://github.com/Robinlovelace/geocompr/blob/f6a05cc9cd077d14958ef3364633263c2aac7a7b/code/before_script.R#L19 fixes this for me, but i don't know if that is the bes

[2020-09-22 06:25] Robinlovelace commented on #571
Thanks for the report. Confirmed one Ubuntu Firefox looking here: https://geocompr.robinlovelace.net/spatial-class.html#intro-sf

I think your solution sounds reasonable, wonder if there is a need for an upstream solution, e.g. for that setting to the default for rmarkdown documents. May be worth asking the developers of the `crayon` package. Great diagnosis btw, I didn't know that was happening,

[2020-09-23 01:41] mps9506 commented on #571
This is a pretty deep rabbit hole with a few issues already listed on `crayon`, so I hesitate to open another issue there.  `render_book()` locally or using Windows with Github Actions does produce a properly rendered tibble. So, while `options(crayon.enabled = NULL)` would be a quick fix, I'm wondering if something in the workflow yaml or upstream actions might have an impact.
If you want to leav

[2020-09-23 10:43] Robinlovelace commented on #571
Great, thanks for the follow-up. Two main options are to close quickly but keep this open in the hope of a 'proper' fix or to leave open and do nothing for now, to revisit as/when a 'proper' solution becomes clear. `yaml` fixes could go into the `r-lib/actions` repo is another potential upstream solution.

Given that this is not a major issue I have linked this to the 2nd edition milestone with th

[2020-09-23 10:46] Robinlovelace commented on #571
Update, I've created a PR representing the quick-fix solution, not tested yet but can merge if that seems like the best option: https://github.com/Robinlovelace/geocompr/pull/572

[2020-09-24 08:14] Robinlovelace commented on #570
It's down this morning:

![image](https://user-images.githubusercontent.com/1825120/94119082-4eb6f380-fe46-11ea-8e25-44de084e9145.png)

Is this also down for you @Nowosad ?

[2020-09-24 08:15] Robinlovelace commented on #570
This link seems to spin-up but does not deploy: https://mybinder.org/v2/gh/robinlovelace/geocompr/master?urlpath=rstudio

[2020-09-24 09:00] Nowosad commented on #570
Yep, I have the same error.

[2020-09-24 13:41] mps9506 commented on #571
🤦‍♂️ Turns out that `r-lib/actions/setup-r` has an argument (not sure if that is the right terminology for yaml?) to control this option and it is `TRUE` by default:
https://github.com/r-lib/actions/blob/8d3872345ff5ace500bdbf7c5835618f3fa6dcc9/setup-r/action.yml#L14-L16

So updating the following
https://github.com/Robinlovelace/geocompr/blob/0c003c385326f06d2243d1c6eca8f8ceeeb8e12f/.github/workf

[2020-09-24 13:49] Robinlovelace commented on #571
Excellent solution by the looks of it, look forward to testing!

[2020-09-24 19:29] #571 closed

[2020-09-24 19:42] Robinlovelace commented on #571
Great news, seems to be fixed :tada:

![image](https://user-images.githubusercontent.com/1825120/94192047-4db5ae80-fea6-11ea-86ab-34f60146c58a.png)

Should this go into a PR in `r-lib/actions` and the bookdown action, if it's not already? Many thanks for spotting this and finding out a future-proof solution @mps9506.

[2020-09-25 07:55] jhagenauer commented on #26
Thanks for \4... this seems still to improve performance significantly.

[2020-09-25 09:00] mdsumner commented on #26
fwiw this suggests it shouldn't matter any more: https://github.com/rspatial/raster/issues/5

![image](https://user-images.githubusercontent.com/4107631/94248100-57e8b300-ff61-11ea-8027-e75e1771f95b.png)

[2020-09-25 09:14] geographyclub commented on #560
Is it possible to contribute my examples of persp3d or rgl usage? I've also looked at and am very interested in trying out rayshader. I'm a git beginner so clear instructions would be appreciated.

[2020-09-25 13:20] Robinlovelace commented on #560
Hi @geographyclub yes your input would be most welcome. Let us know if you want any guidance on putting in a PR.

[2020-09-30 07:47] BeBrian opened #574 "UTM Datum"
Dear Robin,
in chapter 6.3. you state that "All UTM projections have the same datum (WGS84) [...]". If I understand this right I think this is not correct. UTM projections may have different datums, e.g. in Europe a datum often used is ETRS89 for UTM projection (e.g. ETRS89 / UTM zone 32N)
Thanks for your great book and regards

[2020-09-30 09:05] Robinlovelace commented on #574
Thanks for raising this issue @BeBrian. I am not an expert in this field and think you may be right. Do you have a source to support that? If we can add a link to a good research on UTM datums that will further strengthen the section.

[2020-09-30 10:45] BeBrian commented on #574
Hey @Robinlovelace, basically any Cartographic or GIS - Textbook. I will look one up which might be available online. But for a quick validation, just type utm in the search mask of https://spatialreference.org and be overburdened by the amount of CRSs that uses UTM as the projection.

[2020-09-30 11:16] Robinlovelace commented on #574
Thanks for the follow-up. One of the first CRSs that I found following your suggestion was this:

[code]

https://spatialreference.org/ref/sr-org/13/prettywkt/

That seems to have a WGS datum, right? Assuming the second column in this table is the datum you're right, a wide range of datums are used, although I'm not 100% sure what this list represents (and I see there are many pages, loads of CRSs

[2020-09-30 17:17] Darrellc1991 commented on #574
Hey all - Not quite an expert on this aspect, but based on what I'm
skimming of the exchange, it might be as simple noting that it saves it as
WGS84 "by default".

On Wed, Sep 30, 2020 at 4:17 AM Robin <notifications@github.com> wrote:

[2020-09-30 17:43] #574 closed

[2020-09-30 17:45] Robinlovelace commented on #574
Thanks for the follow-up. Given that I'm not sure what 'default' means in this context I've decided to play it safe by removing reference to UTM datums altogether. The sentence now reads:

Any further comments/suggestions very welcome and heads-up @Nowosad and @jannes-m if you have any comments on this please chime in.

[2020-10-04 09:00] Nowosad commented on #574
I am fine with the change. Thanks!

[2020-10-04 12:03] Robinlovelace opened #575 "Typo in preface"
In the preface it says

The issue is that the noun "Academics" does not match the pronoun "which", it should be "who". Furthermore, the sentence is rather long and clunky and could be improved in otherways, e.g.:

See here for the issue in the book: https://geocompr.robinlovelace.net/preface.html

See here to edit the file and fix it (leaving this open as it's a good 'first pull request): https://

[2020-10-04 12:21] Robinlovelace opened #576 "Vulnerability to external file"
This isn't a reliable endpoint: https://biogeo.ucdavis.edu/data/climate/worldclim/1_4/grid/cur/prec_10m_bil.zip.

I think it's making builds fail.

[2020-10-04 12:28] Nowosad commented on #576
I think it is a fairly new issue - https://github.com/rspatial/raster/issues/169 and I hope it is going to be fixed soon.

[2020-10-04 12:31] Robinlovelace commented on #576
I've uploaded a version of it here: https://github.com/Robinlovelace/geocompr/releases/download/1.2/prec_10m_bil.zip

[2020-10-05 12:00] VishalAmbavade commented on #575
@Robinlovelace, I would like to work on this issue. Can you please provide more information about the same?

[2020-10-05 12:23] Robinlovelace commented on #575
Great. Please edit this file: https://github.com/Robinlovelace/geocompr/edit/master/index.Rmd

Good luck with it.

[2020-10-06 11:27] VishalAmbavade commented on #575
@Robinlovelace I have made few changes to the file. Please check it and let me know if any further details are required.

[2020-10-06 17:59] Robinlovelace commented on #575
Looking at it now...

[2020-10-09 07:30] Robinlovelace opened #579 "How to make a facetted map regions within an country, with the rest of the country 'greyed out'?"
I have just found a reproducible solution to this problem that I thought worth posting here in case it's of use for others, in relation to the visualization chapter:

[code]

![](https://i.imgur.com/clLPpwX.png)

[code]

![](https://i.imgur.com/VVDs8oP.png)

[code]

![](https://i.imgur.com/wJx5pWL.png)

[code]

![](https://i.imgur.com/IwdefLj.png)

<sup>Created on 2020-10-09 by the [reprex package

[2020-10-09 11:45] Robinlovelace commented on #579
In case you get errors such as

[code]

I suggest setting the CRS for every object, e.g.:

[code]

[2020-10-09 12:31] eugenividal commented on #579
I am sorry, but It did not work for me @Robinlovelace. See below:

Error in st_crs.character(x@projargs) :
  invalid crs: +proj=longlat +init=epsg:4326 +datum=WGS84 +no_defs +ellps=WGS84 +towgs84=0,0,0

[2020-10-09 12:41] Robinlovelace commented on #579
Sorry to hear @eugenividal, thanks for the update. Have you tried installing the most recent versions of sf and tmap? If that does not fix it it may be GDAL version issue - see here for info on how to update GDAL on 18.04: https://rtask.thinkr.fr/installation-of-r-3-5-on-ubuntu-18-04-lts-and-tips-for-spatial-packages/

And here for a good tutorial for Ubuntu 20.04: https://rtask.thinkr.fr/installa

[2020-10-09 14:57] eugenividal commented on #579
Muchas gracias @Robinlovelace ! It's working now 🚀

[2020-10-09 14:58] Robinlovelace commented on #579
:rocket: :rocket: Fantastic!

[2020-10-09 14:58] #579 closed

[2020-10-23 10:04] Robinlovelace opened #581 "Shiny app down"
See https://geocompr.robinlovelace.net/adv-map.html#mapping-applications

[2020-10-23 11:18] Robinlovelace opened #582 "Remove 'Book stats' graph in README"
A bit out of date now!

[2020-10-23 11:20] #582 closed

[2020-10-25 10:54] Robinlovelace commented on #581
Issue fixed now, I see:
![image](https://user-images.githubusercontent.com/1825120/97105077-6802c800-16b0-11eb-82b7-94a491c0ec63.png)

(Was because the IP address of the server changed.)

[2020-10-25 10:54] #581 closed

[2020-10-25 10:56] Robinlovelace opened #584 "Improve example app in the visualisation chapter"
The shiny app in Chapter 8 isn't particularly informative: https://geocompr.robinlovelace.net/adv-map.html#mapping-applications

![image](https://user-images.githubusercontent.com/1825120/97105131-b0ba8100-16b0-11eb-9bcb-c652f8ea3805.png)

Any ideas of an app that would be more interesting? I think something transport related, perhaps related to the London cycle hire scheme linked to earlier in th

[2020-10-26 17:11] Robinlovelace opened #585 "How to do spatial interpolation that extends beyond location of sample points?"
I think this is a common question and, having just hit upon it, thought it worth asking the issue here. Reproducible example:

[code]

![](https://i.imgur.com/l8Uh1lq.png)

[code]

![](https://i.imgur.com/467EaTV.png)

[code]

![](https://i.imgur.com/1dAonvA.png)

<sup>Created on 2020-10-26 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Any ideas @Nowosad ? I see you have do

[2020-10-26 19:39] jannes-m commented on #585
The problem is that you have simply copy-pasted the code, and you replaced `de` which is a polygon layer by your point layer `rnet_lnd`:

[code]
Just get rid off the `st_crop(rnet_lnd)` line and you will get a raster which covers the bounding box of your bicycle points.
Please note that ordinary kriging is quite a simple approach, basically only taking distance into account, maybe you would like t

[2020-10-26 19:43] Robinlovelace commented on #585
Confirmed, that fixes it. Many thanks for the quick reply. Feeling :facepalm:  now but happy it's a simple solution!

[code]

![](https://i.imgur.com/Du1zSuf.png)

[code]

![](https://i.imgur.com/YSjNVic.png)

[code]

![](https://i.imgur.com/zZIh8rK.png)

<sup>Created on 2020-10-26 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-10-26 19:43] #585 closed

[2020-10-26 19:52] jannes-m commented on #585
No worries. I think it was a good question, and there is really no need to feel :facepalm:.

[2020-10-27 09:47] Nowosad commented on #585
@jannes-m made a lot of great points. I also added some tiny changes to the code: (1) I cropped the map to the data area, (2) plotted model together with the points, (3) updated the map:

[code]

![](https://i.imgur.com/GDA2hMy.png)

[code]

![](https://i.imgur.com/sTmxQjC.png)

[code]

![](https://i.imgur.com/P10j6Pc.png)

<sup>Created on 2020-10-27 by the [reprex package](https://reprex.tidyvers

[2020-10-27 09:54] Robinlovelace commented on #585
Very nice. Good basis for a section in Geocomputation with R version 2?

[2020-10-27 09:59] Nowosad commented on #584
Hi @Robinlovelace - my thinking is the same. It would be good to have an app that uses some other data from the book. Based on the cycle hire data, we could for example, make an app that asks for coordinates and returns top 5 closest stations. It could also have some additional filters (e.g., I have a large group of friends, so I need at least 6 bikes)...

[2020-10-27 10:01] Robinlovelace commented on #584
+1 to that idea.

[2020-10-31 00:05] Robinlovelace commented on #570
Heads-up @Nowosad and @jannes-m could you try this out: https://rstudio.cloud/project/1642300

I think most of the book can be tested there in browser but not sure if others can access it. If so I reckon it's worth adding a badge. Still trying to fix binder issues...

[2020-10-31 05:49] Nowosad commented on #570
I was able to access it (after login):

![2020-10-31_06-48](https://user-images.githubusercontent.com/3457131/97772215-2efda400-1b45-11eb-9f76-f24d29b280a5.png)

[2020-10-31 21:04] jannes-m commented on #570
Yes, I can access it, too. Sent from my Huawei phone-------- Original message --------From: Robin <notifications@github.com>Date: Sat, 31 Oct 2020, 01:05To: Robinlovelace/geocompr <geocompr@noreply.github.com>Cc: Jannes Muenchow <malnamalja@gmx.de>, Mention <mention@noreply.github.com>Subject: Re: [Robinlovelace/geocompr] Issues with Binder (#570)
Heads-up @Nowosad and @jannes-m could you try this

[2020-11-01 16:45] #570 closed

[2020-11-01 17:07] Robinlovelace commented on #570
Many thanks guys, the updated texts is as follows:
[![Launch Rstudio Binder](http://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/robinlovelace/geocompr/master?urlpath=rstudio)

You can also have a play with the repo in RStudio Cloud by clicking on this link (requires log-in):

[![Launch Rstudio Cloud](images/cloud.png)](https://rstudio.cloud/project/1642300)

Any further tests/comments

[2020-11-01 17:30] Robinlovelace commented on #570
Interesting observation - the rendering is different when you build the book in binder, not sure why:

![image](https://user-images.githubusercontent.com/1825120/97809803-1dacb880-1c67-11eb-8bb4-73036df080f5.png)

Heads-up all, especially @Nowosad, I had to make these changes for it to build in binder, any objections to merging this? https://github.com/Robinlovelace/geocompr/pull/586

[2020-11-02 10:08] Nowosad commented on #570
Hi @Robinlovelace, I am not a very active user of Binder, therefore, if you are happy with the changes - so am I.

Regarding the rendering style - I have no idea. Can you explain me how to reproduce this issue?

[2020-11-02 10:12] Robinlovelace commented on #570
Hi @Nowosad to reproduce the issue, click here and build the book: https://mybinder.org/v2/gh/robinlovelace/geocompr/master?urlpath=rstudio

[2020-11-02 11:15] Nowosad commented on #570
Thanks - I followed your guidelines and get a proper results (see below). To create an html version, I just run `make html` in the RStudio terminal.

![2020-11-02_12-13](https://user-images.githubusercontent.com/3457131/97862007-ef7db600-1d04-11eb-8c9e-71e10d235d1c.png)

[2020-11-02 11:27] Robinlovelace commented on #570
Interesting... May have just been a one-off glitch. Good to know we can reproduce the entire book in-browser with Binder in any case, thanks for testing.

[2020-11-11 17:40] Camil88 opened #587 "No content in 'Making maps with R' chapter"
Good morning,

there's no content available in chapter 8 (in web version of the book: https://geocompr.robinlovelace.net/adv-map.html). I open this chapter and the only thing I can see on the page is 'References' (in every subchapters so from 8.1 to 8.7 is the same, no content at all). Other chapters of the book work very well besides this one.

[2020-11-11 18:56] Robinlovelace commented on #587
Are you sure? It works fine on Firefox for me: https://geocompr.robinlovelace.net/adv-map.html

Suggest trying again on different browsers to see if that fixes things.

[2020-11-11 18:59] Robinlovelace commented on #587
Reproducible example to show it's working - closing for now.

[code]

![](https://i.imgur.com/6RvwVXj.png)

[code]

<img src="https://i.imgur.com/nuaM833.png" width="992" />

<sup>Created on 2020-11-11 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-11-11 19:01] Robinlovelace commented on #587
Reopening because I think I know the cause: non https elements in there.

![image](https://user-images.githubusercontent.com/1825120/98852916-4f383780-2450-11eb-95c6-4e28b2e1ce8e.png)

I think we should identify the source of that 'mixed content' and fix, then we can close this.

[2020-11-11 20:26] Robinlovelace commented on #587
The `linkchecker` program found the following issues:

[code]

[2020-11-11 21:40] Robinlovelace commented on #587
Think I've found the cause of the issue: https://geocompr.github.io/img/leaflet.html

[2020-11-11 21:57] #587 closed

[2020-11-12 10:34] Camil88 commented on #587
Ok, thanks, it's working on Firefox. Still doesn't work on Edge but it's not a problem now, I'll change the browser;) Just wanted you to know that this chapter is not working on each browser, which is strange. Anyway, thanks for a solution:)

[2020-11-23 06:45] KHwong12 opened #588 "Link broken in Ch11.6"
Hi,

The **mlr** package has moved its site from `mlr-org.github.io` to `mlr.mlr-org.com` and the links to the resources are now broken.

https://github.com/Robinlovelace/geocompr/blob/44ea2ddc3848ca322deaa3a0860cac9ef5da3a7d/11-spatial-cv.Rmd#L752

I believe the new links of these two pages are now as follows:

- Machine Learning in R: https://mlr.mlr-org.com/index.html
- Handling of Spatial Data

[2020-11-23 12:43] jannes-m commented on #588
Thanks for reporting back. We have already planned to update chapters 11 and 13 using the **mlr3** and the **mlr3spatiotempcv** packages. If time allows, I'll start writing the update over Christmas.

[2020-12-05 00:51] Eyayaw opened #589 "Typo in 2.2.2 Why simple features?"
### st_ instead of sf_:

* sf function names are relatively consistent and intuitive (all begin with **`st_`**)
* sf function names are relatively consistent and intuitive (all begin with **`sf_`**)

[2020-12-05 01:14] #589 closed

[2020-12-19 08:42] Robinlovelace commented on #476
We now test the build on the geocompr/geocompr:dev-osgeo-b image which has:

[code]

Good enough for now? I think so so closing this for now.

[2020-12-19 08:42] #476 closed

[2020-12-19 08:45] Robinlovelace commented on #476
link to the builds https://hub.docker.com/r/geocompr/geocompr/tags?page=1&ordering=last_updated

[2020-12-19 21:43] Robinlovelace commented on #519
In collaboration with @jannes-m the following now work:

[code]

I think that is everything we need to rewrite the chapter using `qgisprocess`. I would be nice if that package were on CRAN but not essential.

[2020-12-19 21:49] Robinlovelace opened #590 "Build book on Docker container with QGIS and qgisprocess"
For #519

[2020-12-19 21:55] jannes-m commented on #519
In fact, this was the idea to rewrite the QGIS part using **qgisprocess**. However, I will have to think of another example since the `qgis:eliminatesliverpolygons' algorithm is no longer available. And yes, I am already using the qgis-ext docker image to write the vignettes for **qgisprocess**.

[2020-12-19 22:00] Robinlovelace commented on #519
Fantastic. I am working on a .yaml file that should allow the code to run in the new version. will report progress on that in #590. Exciting updates, great to see how this could work out really nicely. If you need another example, I found an algorithm unavailable anywhere else that seemed to run ~100 times faster than in R: https://github.com/paleolimbot/qgisprocess/issues/26

[2020-12-19 22:43] Robinlovelace commented on #590
Heads-up @jannes-m and @Nowosad it seems to have worked :tada:

It also seems to have completed faster than the other builds as all the packages are pre-installed in the containers.

See result here: https://github.com/Robinlovelace/geocompr/runs/1582862116?check_suite_focus=true

Suggest we switch the deployment build to this. We can also build images using actions.

[2020-12-19 22:44] Robinlovelace commented on #590
![image](https://user-images.githubusercontent.com/1825120/102701136-bfa25780-424b-11eb-81c4-5f10435703cc.png)

[2020-12-20 10:46] #590 closed

[2020-12-20 12:19] jannes-m commented on #519
Good idea, and in any case worth to mention in the book as a real world example. Still I will look for a qgis native algorithm which is doing something which can't be done in R. This was one of the suggestions of the reviewers last time. But if there isn't anything we can take your use case. BTW, the same speed gains can be also seen for intersection stuff.

[2020-12-20 13:08] Robinlovelace commented on #519
Just as a test, could you put in a PR that uses qgisprocess @jannes-m? Guess: it will fail on all tests except the `qgis-ext` action. No rush of course but curious to see if it works. Will be so cool to have the results of that chapter autodeployed using CI/CD.

[2020-12-20 13:41] jannes-m commented on #519
Sure, the PR can serve a the start of rewriting the r-gis bridges chapter.

[2020-12-20 15:28] #575 closed

[2020-12-21 13:44] PanfengZhang opened #591 "Show how to change the projection center of a WGS84 map in the book, reprojecting data chapter"

[2020-12-21 16:27] Robinlovelace commented on #591
Do have a reproducible example to demonstrate what you mean and what you're hoping to achieve @PanfengZhang ?

[2020-12-22 02:39] PanfengZhang commented on #591
Thank you very much.
I want to convert the projection center from the longitude/latitude of (0, 0) to (148, 0), the example shown as below.

rm(list = ls())
library(spData)
library(ggplot2)
library(sf)

crs1 = "+proj=longlat +datum=WGS84"
# world comes from spData package
world <- st_union(world) # returns a single world map without countries' border
ggplot() +
  geom_sf(data = world) +
  coord_sf

[2020-12-22 10:13] Robinlovelace commented on #591
This is a good question and I think it's worth adding an example to Chapter 6 demonstrating how to do it. I think the `lon_0=-74` bit in the command below moves the centrepoint of the map.

[code]

This should also work for other types of projection. I suggest re-reading this chapter and trying different `crs` settings: https://geocompr.robinlovelace.net/reproj-geo-data.html

@Nowosad wrote much o

[2020-12-22 12:12] PanfengZhang commented on #591
Thank you. I tried this transform and the result was shown as follows.
[Rplot.pdf](https://github.com/Robinlovelace/geocompr/files/5729725/Rplot.pdf)

I tried other methods based on the  cartographic projection (https://proj.org/usage/projections.html), the result was shown as belows.
crs2 = "+proj=longlat +datum=WGS84 +pm=148E"
ggplot() +
  geom_sf(data = world) +
  coord_sf(expand = FALSE, crs =

[2020-12-22 15:53] jannes-m commented on #591
Have a look at the section Example of a failed projection [here](https://mgimond.github.io/Spatial/coordinate-systems-in-r.html) and/or use another projection as already suggested by @Robinlovelace.

[2020-12-22 16:59] Robinlovelace commented on #591
Here's a crude solution that removes everything near the map edge in the new projection:

[code]

![](https://i.imgur.com/Vxva5Ow.png)

[code]

![](https://i.imgur.com/M8XyM6u.png)

[code]

![](https://i.imgur.com/91imaoD.png)

[code]

![](https://i.imgur.com/RAzLlb4.png)

<sup>Created on 2020-12-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-12-23 01:45] PanfengZhang commented on #591
Thank you very much!

[2020-12-23 01:45] PanfengZhang commented on #591
Thank you very much!

[2021-01-01 01:10] KiranmayiV commented on #584
I had a go at this, the app is here [https://github.com/KiranmayiV/CycleStations-London/blob/main/CycleHire_London.R](https://github.com/KiranmayiV/CycleStations-London/blob/main/CycleHire_London.R). It looks like this:
<img width="1280" alt="Screen Shot 2021-01-01 at 12 07 53 pm" src="https://user-images.githubusercontent.com/6985788/103431790-0881e500-4c2a-11eb-9d3f-7ea51db47137.png">

If it see

[2021-01-01 15:13] Robinlovelace commented on #584
Hi @KiranmayiV, thanks for sharing and the offer of support. Seems OK and yes please do make a PR, let me know if you have any questions on that and look forward to seeing it updated in the book!

[2021-01-06 14:19] #584 closed

[2021-01-12 23:52] zmbc opened #594 "Ambiguous/misleading exercise in Chapter 3"
[The Chapter 3 exercises](https://geocompr.robinlovelace.net/attr.html#exercises-1) include the following:

[The solution](https://geocompr.github.io/geocompkg/articles/solutions03.html) says:

[code]

This code, at the region level, calculates the unweighted mean (average) of the changes in median income within each constituent state. This is **not** the same thing as the change in median income

[2021-01-13 07:51] Robinlovelace commented on #594
Thanks for flagging this @zmbc. The point is to get people working with summary statistics, aggregating over categories, of a coarse regional geographic resolution in this example. I take your point about it not being the median income in each state. Is it rather the change in *mean median incomes per state*? And would using the population weighted 'mean median' improve the example? Or would you s

[2021-01-13 20:43] zmbc commented on #594
Yes, what is calculated by the code is the *average/mean change in state median incomes*. I doubt this is something that would need to be calculated for any actual use-case, but updating the question to use that language would unambiguously specify what to do (I cheated and looked at the answer because I was confused :smiley:).

I love the idea of calculating a region-level statistic because that

[2021-01-14 11:57] Nowosad commented on #594
Hi @zmbc , thanks for opening this issue and suggesting an improved exercise!
Maybe the bonus question can be used as a separate exercise - what do you think about that?

[2021-01-14 12:11] Robinlovelace commented on #594
I think this is a great suggestion, many thanks @zmbc. One thought: to make the first part easier could we make it about change in numbers? I think calculating percentage change is hard for R beginners and we want to make it as accessible as possible. The percentage could then be a bonus and then, as @Nowosad says, the bonus could become another question.

If  you're up for putting in a Pull Reque

[2021-01-16 12:54] Robinlovelace commented on #594
Hi @zmbc your changes are now deployed and you're now a contributor to this open source project :tada:

Do you have a Twitter handle? Can tag you in a follow-up Tweet saying thank you.

![image](https://user-images.githubusercontent.com/1825120/104812424-f4c5a980-57f9-11eb-8529-e7273ce6c902.png)

https://geocompr.robinlovelace.net/attr.html#exercises-1

[2021-01-16 12:54] #594 closed

[2021-01-17 04:34] zmbc commented on #594
@Robinlovelace Nope, I don't have Twitter.

Thanks for your feedback and review of the changes! This is one of the friendliest open source projects I've ever contributed to :smiley:

[2021-01-20 07:22] garethcao opened #596 "How to split linestrings into segments with equal length"
Deal All,

I am trying to split a linestring into multiple parts with equal length, while fail to find suitable command for it. To be more specific, I have a shpfile of a river and the whole river is one polyline in the current data. I want split it into 10 segments with equal length.

I know how to achieve it in ArcGIS while fail to replicate the same function in R. I have experimented with st_se

[2021-01-20 07:48] Nowosad commented on #596
Hi @garethcao, could you prepare some reproduciable example containing some data?

[2021-01-20 07:54] garethcao commented on #596
[Boundary.zip](https://github.com/Robinlovelace/geocompr/files/5840935/Boundary.zip)

Please kindly check the attached files for a river. I was just trying to split it into 10 segments with equal length. Thanks so much for your reply!

[2021-01-20 10:42] Robinlovelace commented on #596
Hi @garethcao this is actually a great use case of the new **qgisprocessing** package that I've discussed with @jannes-m in relation to the GIS Bridges chapter. https://geocompr.robinlovelace.net/gis.html

See reproducible code here for how it works (requires QGIS to be installed): https://github.com/paleolimbot/qgisprocess/issues/26

Does that help? I've seen pure R solutions but none of them are

[2021-01-20 15:41] garethcao commented on #596
Thanks so much for your kind reply. I am sorry that I have not had enough time to read the latter chapters of the book and thus miss the function you mentioned. Your suggestion was especially useful and I have already solved the problem based on it.

[2021-01-20 15:46] #596 closed

[2021-01-22 15:10] Robinlovelace opened #597 "Issue in chapter 12 routing"
In this section https://geocompr.robinlovelace.net/transport.html#routes I see:

[code]

[2021-01-24 10:49] garethcao opened #599 "How to extract raster from .gdb instead of empty polygons?"
Dear All,

I have met with a problem when importing raster data of light intensity. Concretely, the following file contains raster data of Chinese nightlight intensity. I write the following command to import it:

`file_temp = st_read(dsn = 'path/tif.gdb', layer = 'noflare_20131')`
`light = raster(file_temp)`
`plot(light)`

[https://www.dropbox.com/s/o8rn7cnb4a5rc6j/tif.gdb.zip?dl=0](url)

However

[2021-01-24 11:29] Nowosad commented on #599
Hi @garethcao!

I would suggest you asking this question at https://gis.stackexchange.com/ - then your question could be seen (and hopefully solved) by a larger number of people.

[2021-01-24 11:33] jannes-m commented on #599
Since it is a raster file, you should not use sf (st_read), which only handles vector data. Have a look if the stars or raster package support reading from a. gdb

[2021-01-24 11:53] jannes-m commented on #599
Since it is a raster file, you should not use sf (st_read), which only handles vector data. Have a look if the stars or raster package support reading from a. gdb

[2021-01-24 12:08] jannes-m commented on #599
Have also a look at:

https://gis.stackexchange.com/questions/267186/importing-raster-with-r-from-file-geodatabase

Or simply export your raster as geotif from within ArcGIS.

[2021-01-24 12:09] #599 closed

[2021-01-24 12:55] Nowosad commented on #599
For a reference - https://gis.stackexchange.com/questions/385255/how-to-extract-raster-from-gdb-instead-of-empty-polygons

[2021-01-24 14:04] #597 closed

[2021-01-27 21:16] yanbinghan opened #601 "Error when loading tmap"
Hi,

Here is the error message I got:

Error: package or namespace load failed for ‘tmap’ in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]):
 there is no package called ‘stars’

Could you please let me know how to deal with it? Thank you so much.

Best, Yanbing

[2021-01-27 21:18] Nowosad commented on #601
Hi, try to install the stars package:

[code]

[2021-01-27 21:20] #601 closed

[2021-01-31 13:48] gbortz27 opened #602 "Mistake in the units section of Foundations (.. the results of the res() command after projection)"
Units are of equal importance in the case of raster data. However, so far sf is the only spatial package that supports units, meaning that people working on raster data should approach changes in the units of analysis (for example, converting pixel widths from imperial to decimal units) with care. The new_raster object (see above) uses a WGS84 projection with decimal degrees as units. Consequently

[2021-01-31 20:07] Robinlovelace commented on #602
Thanks @gbortz27, what would your suggestion be for the text? I defer to the judgement of @Nowosad and @jannes-m who have more experience with raster datasets, although I can see there is an inconsistency. Please also add a link to the specific section in the book (and perhaps even lines of code in the source code) you are referring to.

[2021-02-02 20:31] Nowosad commented on #602
Thank you @gbortz27 - I wil try to find some time later this week to investigate this issue.

[2021-02-03 17:43] #602 closed

[2021-02-03 17:45] Nowosad commented on #602
It should be fine now. Thank you for letting us know @gbortz27.

@Robinlovelace - sorry for pushing to master - bad habits...

[2021-02-03 20:01] Robinlovelace commented on #602
No worries. Good fix!

[2021-03-23 11:26] Robinlovelace opened #606 "Missing code chunk"
In Section 12.5...

I see this:

![image](https://user-images.githubusercontent.com/1825120/112139366-971f5600-8bca-11eb-8f7a-a4747a8a4be2.png)

But there is no code!

[2021-04-05 20:52] Robinlovelace commented on #463
Heads-up @jannes-m I just got a message asking when we plan to update this chapter. I vote by end of 2021 is a reasonable aim for hitting the https://github.com/Robinlovelace/geocompr/milestone/7 milestone and possibly even the 2nd edition. On a related note, what are your thoughts on raster @Nowosad, still too early to replace the raster code?

[2021-04-06 09:59] #576 closed

[2021-04-06 10:10] #606 closed

[2021-04-06 13:55] Robinlovelace opened #607 "Error message in Chapter 12"
It says:

[code]

I cannot reproduce this error message and am not sure what's causing it. Simple solution: read in the pre-saved result.

Source: https://geocompr.robinlovelace.net/transport.html#routes

[2021-04-06 13:56] Robinlovelace commented on #607
Fixed in https://github.com/Robinlovelace/geocompr/commit/76df1b84343944015ec68dd741a050fe79c13ed5

[2021-04-06 13:56] #607 closed

[2021-04-09 19:52] jannes-m commented on #463
I hope I'll find some time during my parental leave in June/July this year to work on the R-GIS bridges chapter. I suppose we have to also rewrite the RSAGA section since RSAGA is no longer maintained (though it might still be working).

[2021-04-19 17:15] Nowosad commented on #463
I have an idea to test different R approaches to raster data during the summer and then decide which one is the best in terms of (a) ease of use, (b) teachability, (c) performance, (d) capabilities. Currently I can see a lot of pros and cons of **raster**, **terra**, and **stars**...

[2021-04-19 18:39] gisma commented on #463
Despite the truly admirable performance of the protagonists, I have been struggling for quite some time in my daily work, both in research and teaching, with (a) the problems of the competing R package concepts, especially of course the `terra/raster` and `stars/sf` problems, (b) the hardly comprehensible, say, diversity of the migration of the libraries and reference systems etc. on which r-spati

[2021-04-19 19:07] Robinlovelace commented on #463
Thanks for the insights @gisma, really interesting. Re raster packages my thinking is if in doubt sticking to the more mature stuff (`raster` in this case) is often the safest issue, a question of timing and issues being ironed out I guess. Look forward to insights from @Nowosad on the most efficient (or perhaps least painful) option seems to be. Ease of use must be a key consideration when rememb

[2021-04-19 19:18] Robinlovelace commented on #463
Update on this @gisma this works well, giving 970 algorithms, an embarrassment of riches!

[code]

[2021-04-19 19:35] gisma commented on #463
@Robinlovelace i totally agree with you! Thanks for the docker hint. It is downloading.... The docker approach is obviously one of the most promising ways out of the installation and dependencies jungle.

[2021-05-11 07:16] Robinlovelace opened #609 "Mention the crssuggest package"
It would be great to mention this in the relevant chapter: https://github.com/walkerke/crsuggest

Specifically it would fit perfectly here: https://geocompr.robinlovelace.net/reproj-geo-data.html#which-crs-to-use

Heads-up @walkerke, awesome package, let me know if you've any comments/suggestions on describing the package and thanks for developing it!

[2021-05-11 15:12] walkerke commented on #609
Thanks @Robinlovelace!  I'd be happy to write a little about crsuggest and submit a PR, if you'd like!

[2021-05-11 16:11] Robinlovelace commented on #609
Thanks Kyle, that would be amazing :pray:  This is the relevant file: https://github.com/Robinlovelace/geocompr/edit/master/06-reproj.Rmd

[2021-05-22 14:36] pat-s opened #610 "Suggestions for updates to spatial modeling section"
In the last years, some developments happened in the field of spatial ML.

I see in #567 you are already aware that {mlr} has been deprecated.

Besides this, spatial CV has evolved into spatiotemporal CV.
With respect to the mlr framework, the new kid on the block is [{mlr3spatiotempcv}](https://github.com/mlr-org/mlr3spatiotempcv).
We are in the process of writing a JSS paper currently.

Next, th

[2021-05-22 19:36] Robinlovelace commented on #610
It's exciting to see progress on these new frameworks that, from a glance, seem to offer multiple benefits to users. Definitely keen to include this stuff, especially `mlr3spatiotempcv` (which I understand is basically a direct replacement of the code currently in Section 11.5: https://geocompr.robinlovelace.net/spatial-cv.html#intro-cv

Look forward to hearing back from you and Jannes on this, th

[2021-05-25 12:46] jannes-m commented on #610
Thanks for pointing this out again, @pat-s! It is certainly on the to-do list, and I just have to find some time to update the corresponding chapters. I will have to plan how I can put at least a few hours a week in updating the chapters to guarantee at least a steady albeit slow progress. In any case, it is great to have you @pat as a reviewer, thanks a lot in advance!